<div class="col-lg-12 mt-5 address-page-container">
    <div class="my-3" style="font-size: 17px; color:grey">
        <p>The following addresses will be used on the checkout page by default.
        </p>
    </div>
    <div class="row">
        <div class="col-lg-5 card">
            <div class="card-title my-3 ms-4">
                <div class="" style="font-size: 20px;">
                    <p>Billing Address</p>
                </div>
                <div class="" style="display: inline; color: rgb(52, 158, 219); font-size: 14px;"><a>Edit</a></div>
            </div>
            <div class="card-body" style="font-size: 16px;">
                <p style="display: inline;">First Name</p>
                <p class="ms-5" style="display: inline;">Last Name</p>
                <p class="mt-3">Street Address</p>
                <p style="display: inline;">City/Town</p>
                <p class="ms-5" style="display: inline;">Pin Code</p>
                <p class="mt-3">District</p>
                <p>State</p>
            </div>
        </div>
        <div class="col-lg-5 card">
            <div class="card-title my-3 ms-4">
                <div class="" style="font-size: 20px;">
                    <p>Shipping Address</p>
                </div>
                <div class="" style="display: inline; color: rgb(52, 158, 219); font-size: 14px;"><a>Edit</a></div>
            </div>
            <div class="card-body" style="font-size: 16px;">
                <p style="display: inline;">First Name</p>
                <p class="ms-5" style="display: inline;">Last Name</p>
                <p class="mt-3">Street Address</p>
                <p style="display: inline;">City/Town</p>
                <p class="ms-5" style="display: inline;">Pin Code</p>
                <p class="mt-3">District</p>
                <p>State</p>
            </div>
        </div>
    </div>
</div>