<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h2>Checkout</h2>
            
            <h5 style="margin-top: 30px"><b>Billing details</b></h5>
            <br>
            <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1">First name:</label
                      >&nbsp;
                      <input type="text" id="form6Example1" class="form-control">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example2">Last name:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                    </div>
                  </div>
                </div>
      
                <div class="row mb-4">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1">Company Name(optional):</label
                      >&nbsp;
                      <input type="text" id="form6Example1" class="form-control" />
                    </div>
                  </div>
                  
                </div>
      
                <div class="row mb-4">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1">Country / Region:</label
                      >&nbsp;
                      <input type="text" id="form6Example1" class="form-control" />
                    </div>
                  </div>
                  
                </div>
      
                
                <div class="row mb-4" style="margin-top: 0px">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1"
                        >Street address:</label
                      >&nbsp;
                      <input type="text" id="form6Example1" class="form-control" placeholder="House number and street name" />
                      <input type="text" id="form6Example1" class="form-control" placeholder="Apartment, suite, unit, etc. (optional)" style="margin-top:10px ;"/>
                    </div>
                  </div>
                  
                </div>
                <div class="row mb-4" style="margin-top: 10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1">Town / City:</label
                      >&nbsp;
                      <input type="text" id="form6Example1" class="form-control" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1">State:</label
                      >&nbsp;
                      <input type="text" id="form6Example1" class="form-control" />
                    </div>
                  </div>
                  
                </div>
                <div class="row mb-4" style="margin-top: 10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1"
                        >PIN Code:</label
                      >&nbsp;
                      <input type="text" id="form6Example1" class="form-control" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example2"
                        >Phone:</label
                      >
                      <input type="text" id="form6Example2" class="form-control" />
                    </div>
                  </div>
                </div>
      
                
                <div class="row mb-4" style="margin-top: 0px">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1">Email address:</label
                      >&nbsp;
                      <input type="text" id="form6Example1" class="form-control" />
                    </div>
                  </div>
                  
                </div>
                <div class="row mb-4" style="margin-top: 10px">
                    <div class="col-lg-12 col-md-12 col-12">
                      <div class="form-outline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" />
                          <p style="margin-left: 20px">
                            <b>Ship to a different address?</b>
                          </p>
                        </label>
                      </div>
                    </div>
                  </div>
                <div class="row mb-4" style="margin-top: 10px">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-outline">
                      <label for="commen">  Order notes (optional):</label>
                      <textarea
                        class="form-control"
                        rows="2"
                        id="comment" placeholder="Notes about your order, e.g. special notes for delivery."
                        required
                      ></textarea>
                    </div>
                  </div>
                  
                </div>
      
                
              </form>
           
        </div>
        <div class="col-lg-5">
            <div class="card" style="width:400px;margin-top: 70px;">
                <div class="card-body">
                  <div class="container-fluid">
                  <h4 class="card-title">Your order</h4>
                  <br>
                  <div class="row">
                  <div class="col-lg-3">
                    <h5><b>Product</b></h5>
                  </div>
                  <div class="col-lg-6">
                    
                </div>
                <div class="col-lg-3">
                    <h5><b>Subtotal</b></h5>
                </div>
                </div>
              
                <div class="row" style="border-top:1px solid gainsboro ;">
                  <div class="col-lg-7">
                    <h5>Saoji Paneer+1 Mix Veg+5 Chapati+1 Jeera Rice+1 Dal+1 Sweet+1 Salad+1 Papad</h5>
                  </div>
                  <div class="col-lg-2" style="margin-top:18px ;">x 1</div> 
                  <div class="col-lg-3" style="margin-top:10px ;">
                    <h5>Rs.7999</h5>
                  </div>
                </div>

                <div class="row" style="border-top:1px solid gainsboro ;">
                  <div class="col-lg-7" style="margin-top:13px ;">
                    <h5>Magicook Pro 25L Grill Micro</h5>
                  </div>
                  <div class="col-lg-2" style="margin-top:18px ;">x 1</div> 
                  <div class="col-lg-3" style="margin-top:10px ;">
                    <h5>Rs.999</h5>
                  </div>
                </div>

                <div class="row" style="border-top:1px solid gainsboro ;">
                  <div class="col-lg-7" style="margin-top:13px ;">
                    <h5><b>Subtotal</b></h5>
                  </div>
                  <div class="col-lg-2" style="margin-top:18px ;"></div> 
                  <div class="col-lg-3" style="margin-top:10px ;">
                    <h5>Rs.8998</h5>
                  </div>
                </div>

                <div class="row" style="border-top:1px solid gainsboro ;">
                  <div class="col-lg-7" style="margin-top:13px ;">
                    <h5><b>Shipping</b></h5>
                  </div>
                  <div class="col-lg-2" style="margin-top:18px ;"></div> 
                  <div class="col-lg-3" style="margin-top:10px ;">
                    <h5><b>Flat rate:
                      Rs.100
                    </b></h5>
                  </div>
                </div>

                <div class="row" style="border-top:1px solid gainsboro ;">
                  <div class="col-lg-7" style="margin-top:13px ;">
                    <h5><b>Total</b></h5>
                  </div>
                  <div class="col-lg-2" style="margin-top:18px ;"></div> 
                  <div class="col-lg-3" style="margin-top:10px ;">
                    <h5>
                      Rs.9098
                    </h5>
                  </div>
                </div>
               
                <div class="row" style="border-top:1px solid gainsboro ;">
                  
                  <div class="col-lg-6" style="margin-left: 10px;">
                <form action="/action_page.php">
                  <div class="form-check" style="margin-top: 20px">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
                    <label class="form-check-label" for="radio1">Direct bank transfer</label>
                  </div>
                  <div class="form-check" style="margin-top: 8px">
                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                    <label class="form-check-label" for="radio2">Check payments</label>
                  </div>
                  <div class="form-check" style="margin-top: 8px">
                    <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">
                    <label class="form-check-label">Cash on delivery</label>
                  </div>
                </form>
                </div>
              
                <div class="col-lg-6"></div>
                </div>
                
                  <p class="card-text" style="margin-top: 20px;">Your personal data will be used to process your order, support your experience throughout
                    this website, and for other purposes described in our <a href="">privacy policy.</a>
                  </p>
                  
                  <a href="#" class="btn btn-primary btn-block" style="margin-top: 10px;background-color: #0047AB;">Place Order</a>
                </div>
                </div>
                
              </div>
            </div>
        </div>

</div>
