<div class="container-fluid">
    <div class="row" style="height: 90px;background-color:rgb(43, 42, 42);margin-top: 5px;">
        
      <h2 class="text-white" style="margin-top:30px;padding-left:80px;"><b>About Us</b></h2>
   </div>
   <br>
   <div class="row text-center">
    <div class="col-lg-2 col-md-12 col-12">

    </div>
    <div class="col-lg-8 col-md-12 col-12">
        <h2>Best Rental Services Providers in India</h2><br>
        <p>At JMD Cabs we believe in letting our services do the talking for they 
            are our most potent testament. It is our endeavour to set such high
            standard of quality, professional services that would be an example
            for other companies to emulate. Customer Delight is the most crucial
            ingredient for the success of our company and it is the most cherished of our goals.</p>
            <br>
            <img src="../assets/image/Vehicle/vehicle4.jpg" style="height:300px;width: 100%;margin-top: 0px;border-radius: 2%;" >

    </div>
    <div class="col-lg-2 col-md-12 col-12">
        
    </div>
    
   </div>
   <div class="row" style="margin-left: 10px;">
    <h1 class="text-center"><b>WHY CHOOSE US?</b></h1><br>
    <h4 class="text-center">We aim to provide best rental services to customers.</h4>
    <div class="row row-cols-1 row-cols-md-3 g-4 text-center" style="padding-bottom: 20px">
        <div class="col text-white" style="padding-left: 100px;">
          <div class="card h-100 text center" style="width: 270px;background-color: rgb(66, 65, 65);">
            <div class="test rounded-circle text-center" style="width: 100px;height: 100px;background-color: white;margin-left: 90px;margin-top: 30px;">
                <i class="fa fa-inr" aria-hidden="true" style="margin-top: 23px;color:rgb(40, 126, 172);font-size:50px"></i>
            </div>
            <div class="card-body">
              <h4 class="card-title"><b>Lowest Prices</b></h4>
              <p class="card-text" style="margin-top: 20px;padding-bottom: 10px;">
                We guarantee for lowest prices in the market.
              </p>
            </div>
        </div>
        </div>
        <div class="col text-white" style="padding-left:0px;">
            <div class="card h-100 text center" style="width: 270px;background-color: rgb(66, 65, 65);">
                <div class="test rounded-circle text-center" style="width: 100px;height: 100px;background-color:white;margin-left: 90px;margin-top: 30px;">
                    <i class="fa fa-clock-o" aria-hidden="true" style="margin-top: 23px;color:rgb(40, 126, 172);font-size:50px"></i>
                </div>
            <div class="card-body">
              <h4 class="card-title"><b>24X7 Service</b></h4>
              <p class="card-text" style="margin-top: 20px;padding-bottom: 10px;">
                Book yourself for the best rates. We are here to help 24X7.
              </p>
              
            </div>
          </div>
        </div>
        <div class="col text-white" style="padding-left: 0px;">
         
            <div class="card h-100 text center" style="width: 270px;background-color: rgb(66, 65, 65);">
                <div class="test rounded-circle text-center" style="width: 100px;height: 100px;background-color:white ;margin-left: 90px;margin-top: 30px;">
                    <i class="fa fa-map-marker" aria-hidden="true" style="margin-top: 23px;color:rgb(40, 126, 172);font-size:50px"></i>
                </div>
            <div class="card-body" >
              <h4 class="card-title"><b>Lots of Locations</b></h4>
              <p class="card-text" style="margin-top: 20px;padding-bottom: 10px;">
                Book products as per your preferable location.
              </p>
            </div>
           
          </div>
         

        </div>
        <br>
        <br>
      </div>
     
      <div class="row" style="margin-top: 20px;">
        <h1 class="text-center text-black" style="font-weight: 700;">SERVICES WE OFFER</h1>
      </div>
      <br>

      <div class="bg-white py-5" style="margin-top: -10px;">
        <div class="container py-5">
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1 text-center"><i class="fa fa-home fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light" style="color:rgb(40, 126, 172);">Rooms Services</h2>
              <h5 style="font-size:20px ;color:rgb(48, 47, 47)">It will provide the information about 
                rooms/flats/houses which is available for rent.</h5>
                <p class="font-italic text-muted mb-4">We will provide you the place where customer can
                     advertise our rooms, flats or houses as well as customer can bought rooms on rent 
                     as per there choices.Here Customer who want rooms or flat can search and make easily 
                     contact with owner.We provide at very low cost and affordable to each and every customer.
                </p>
              </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../assets/About/roomstick.png" 
                alt="" class="img-fluid mb-4 mb-lg-0"></div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto "><img src="../assets/About/tiffinstick.png" alt="" 
                class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6 text-center"><i class="fa fa-cutlery fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light" style="color:rgb(40, 126, 172);">Tiffin Services</h2>
              <h5 style="font-size:20px ;color:rgb(48, 47, 47)">It will provide the information about 
                tiffin service which is available at affordable price.</h5>
                <p class="font-italic text-muted mb-4">We will provide you the place where customer can advertise
                    their tiffin service as well as customer can bought tiffins as per there choices.
                    Here Customer who want tiffins can search and make easily contact with owner.We provide
                    at affordable to each and every customer.
                </p>
            </div>
          </div>
          <div class="row align-items-center mb-5">
            <br>
              <div class="col-lg-6 order-2 order-lg-1 text-center"><i class="fa fa-car fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light" style="color:rgb(40, 126, 172);margin-top: 20px;">Vehicle Services</h2>
                <h5 style="font-size:20px ;color:rgb(48, 47, 47);margin-top: 20px;">It will provide the information about 
                     vehicles which is available at affordable price on rent.</h5>
                    <p class="font-italic text-muted mb-4">We will provide you the place where customer can advertise
                        their vehicles such as cars, bikes and moped on rent as well as customer can bought vehicle as per there
                         choices.Here Customer who want any type of vehicle can search 
                         and make easily contact with owner.We provide
                        at affordable to each and every customer.
                    </p>
              </div>
              <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../assets/About/bikesticker.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            </div>
            </div>

            <div class="row align-items-center mb-5" style="margin-top: -70px">
              <div class="col-lg-5 px-5 mx-auto"><img src="../assets/About/apppp.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
              <div class="col-lg-6 text-center"><i class="fa fa-television fa-2x mb-3 text-primary" style="margin-top: 20px"></i>
                <h2 class="font-weight-light" style="color:rgb(40, 126, 172);">Appliances Services</h2>
                <h5 style="font-size:20px ;color:rgb(48, 47, 47)">It will provide the information about 
                    appliances and furniture on rent which is available at affordable price.</h5>
                    <p class="font-italic text-muted mb-4">We will provide you the place where customer can advertise
                       for their appliances and furniture which is not in used or extra product on rent as well as
                        customer can bought appliances or furniture on rent as per there choices.
                        Here Customer who want appliances or furniture can search and make easily contact with owner.We provide
                        at affordable to each and every customer.
                    </p>
              </div>
            </div>
        </div>
      </div>

      <div class="row" style="margin-left: 10px;">
        <h1 class="text-center"><b>Testimonials</b></h1><br>
        <h4 class="text-center">What Customer Say About Our Rental Services</h4><br>
        </div>
<br>
      <!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <!-- Controls -->
    <div class="d-flex justify-content-center mb-4">
      <button class="carousel-control-prev position-relative" type="button"
        data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next position-relative" type="button"
        data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Anna Deynah</h5>
              <p>UX Designer</p>
              <p class="text-muted">
                <i class="fa fa-quote-left pe-2"></i>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
                officiis hic tenetur quae quaerat ad velit ab hic tenetur.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">John Doe</h5>
              <p>Web Developer</p>
              <p class="text-muted">
                <i class="fa fa-quote-left pe-2"></i>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                suscipit laboriosam, nisi ut aliquid commodi.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li>
                  <i class="fa fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>
              <p class="text-muted">
                <i class="fa fa-quote-left pe-2"></i>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum deleniti atque corrupti.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">John Doe</h5>
              <p>UX Designer</p>
              <p class="text-muted">
                <i class="fa fa-quote-left pe-2"></i>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
                officiis hic tenetur quae quaerat ad velit ab hic tenetur.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Alex Rey</h5>
              <p>Web Developer</p>
              <p class="text-muted">
                <i class="fa fa-quote-left pe-2"></i>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                suscipit laboriosam, nisi ut aliquid commodi.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li>
                  <i class="fa fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(5).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>
              <p class="text-muted">
                <i class="fa fa-quote-left pe-2"></i>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum deleniti atque corrupti.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Anna Deynah</h5>
              <p>UX Designer</p>
              <p class="text-muted">
                <i class="fa fa-quote-left pe-2"></i>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
                officiis hic tenetur quae quaerat ad velit ab hic tenetur.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(8).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">John Doe</h5>
              <p>Web Developer</p>
              <p class="text-muted">
                <i class="fa fa-quote-left pe-2"></i>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                suscipit laboriosam, nisi ut aliquid commodi.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li>
                  <i class="fa fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(7).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>
              <p class="text-muted">
                <i class="fa fa-quote-left pe-2"></i>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum deleniti atque corrupti.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
                <li><i class="fa fa-star fa-sm"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->
  </div>
  <!-- Carousel wrapper -->

  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-12">
          <h2 class="display-4 font-weight-light text-center">Our team</h2>
          <p class="font-italic text-muted text-center">We have made this successful with the help of 
            all team members.</p>
            <p class="font-italic text-muted text-center">Over past years of helping trade
             almost anything in safe, smart and convenient ways.</p>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
  
  
  
     
 </div>
   