#scrollToTopBtn {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
  }
  .back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
  }