<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#">
        <img src="assets/image/logo.png" style="height: 46px; width:50px; margin-left:20px;">
        <h4 style=" margin-left:80px; margin-top:-30px;">Nagpur <span>Tiffin Services</span></h4>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Offers</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Signin</a></li>
        <li><a href="#">Cart</a></li>
      </ul>
    </div>
  </div>
</nav>
