
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <img src="assets/image/Tiffin/t4.png" alt="" style="height: 150px;width:250px;">
            <h1 class="display-4 fw-bolder">Discover the best food & drinks in Nagpur</h1>
            <p class="lead fw-normal text-white-50 mb-0">We deliver daily fresh and tasty Tiffins</p>
        </div>
    </div>
</header>




<div class="container-fluid">
    <div class="row">
       <div class="col-lg-12 col-md-12 col-12">
            <h1 style="font-family: 'Courgette', cursive;padding-left: 100px;padding-top:60px;font-size:30px;">Tiffin Packages</h1>
       </div>
    </div>    
   </div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                   
                    <img class="card-img-top" src="assets/image/Tiffin/guju_dish.jpeg" alt="..." />
                  
                    <div class="card-body p-4">
                        <div class="text-center">
                           
                            <h4 class="fw-bolder">Gujrati thali</h4>
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            
                            <h4>₹179</h4>
                            <p>Saoji Paneer+1 Mix Veg+5 Chapati+1 Jeera Rice+1 Dal+1 Sweet+1 Salad+1 Papad </p>
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-primary btn-lg btn-md" href="#" (click)="submit();">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                   
                    <img class="card-img-top" src="assets/image/Tiffin/jain_dish.webp" alt="..." />
                  
                    <div class="card-body p-4">
                        <div class="text-center">
                           
                            <h4 class="fw-bolder">Special Item</h4>
                            
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            
                            <span class="text-muted text-decoration-line-through">₹200</span>
                            <h4>₹175</h4>
                            <p>Saoji Paneer+1 Mix Veg+5 Chapati+1 Jeera Rice+1 Dal+1 Sweet+1 Salad+1 Papad </p>
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-primary btn-lg btn-md" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                   
                    <img class="card-img-top" src="assets/image/Tiffin/maha_dish.webp" alt="..." />
                  
                    <div class="card-body p-4">
                        <div class="text-center">
                           
                            <h5 class="fw-bolder">Sale Item</h5>
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            <h4>₹155</h4>
                            <p>Saoji Paneer+1 Mix Veg+5 Chapati+1 Jeera Rice+1 Dal+1 Sweet+1 Salad+1 Papad </p>
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-primary btn-lg btn-md" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                   
                    <img class="card-img-top" src="assets/image/Tiffin/guju_dish.jpeg" alt="..." />
                  
                    <div class="card-body p-4">
                        <div class="text-center">
                           
                            <h5 class="fw-bolder">Popular Item</h5>
                            
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            
                            <h4>₹105</h4>
                            <p>Saoji Paneer+1 Mix Veg+5 Chapati+1 Jeera Rice+1 Dal+1 Sweet+1 Salad+1 Papad </p>
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-primary btn-lg btn-md" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                   
                    <img class="card-img-top" src="assets/image/Tiffin/maha_dish.webp" alt="..." />
                  
                    <div class="card-body p-4">
                        <div class="text-center">
                           
                            <h5 class="fw-bolder">Sale Item</h5>
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            <h4>₹150</h4>
                            <p>Saoji Paneer+1 Mix Veg+5 Chapati+1 Jeera Rice+1 Dal+1 Sweet+1 Salad+1 Papad </p>
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-primary btn-lg btn-md" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                   
                    <img class="card-img-top" src="assets/image/Tiffin/guju_dish.jpeg" alt="..." />
                  
                    <div class="card-body p-4">
                        <div class="text-center">
                           
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            
                            <h4>₹199</h4>
                            <p>Saoji Paneer+1 Mix Veg+5 Chapati+1 Jeera Rice+1 Dal+1 Sweet+1 Salad+1 Papad </p>
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-primary btn-lg btn-md" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                   
                    <img class="card-img-top" src="assets/image/Tiffin/maha_dish.webp" alt="..." />
                  
                    <div class="card-body p-4">
                        <div class="text-center">
                           
                            <h5 class="fw-bolder">Special Item</h5>
                            
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            <h4>₹129</h4>
                            <p>Saoji Paneer+1 Mix Veg+5 Chapati+1 Jeera Rice+1 Dal+1 Sweet+1 Salad+1 Papad </p>
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-primary btn-lg btn-md" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                   
                    <img class="card-img-top" src="assets/image/Tiffin/guju_dish.jpeg" alt="..." />
                  
                    <div class="card-body p-4">
                        <div class="text-center">
                           
                            <h5 class="fw-bolder">Popular Item</h5>
                            
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            
                            <h4>₹299</h4>
                            <p>Saoji Paneer+1 Mix Veg+5 Chapati+1 Jeera Rice+1 Dal+1 Sweet+1 Salad+1 Papad </p>
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-primary btn-lg btn-md" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 