<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#">
        <img src="assets/image/logo.png" style="height: 46px; width:50px; margin-left:20px;">
        <h4 style=" margin-left:80px; margin-top:-30px;">Nagpur <span>Tiffin Services</span></h4>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Offers</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Cart</a></li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <div class="container-fluid">
    <div class="row">
       <div class="col-lg-4">
        <img src="assets/image/tif_1.jpg" style="width: 308px;height:202px; padding-top:20px;padding-left:50px;padding-bottom:20px;">
       </div>
   
       <div class="col-lg-5" style="color:aliceblue">
            <h4 style="padding-top:20px;padding-left:300px;padding-bottom:20px;">Welcome</h4>
       </div>
   
       <div class="col-lg-3">
            3
       </div>
    </div>
   </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      
    </div>
 
    <div class="col-lg-4">
      <form action="">
       <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
         <div class="input-group">
           <input type="search" placeholder=" What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
           <div class="input-group-append">
             <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
           </div>
         </div>
       </div>
      </form>
   </div>
 
   <div class="col-lg-4">
 
   </div>
   
  </div>
</div>


<div class="container-fluid">
 <div class="row">
   <div class="col-lg-12">
       
    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
      <a class="navbar-brand" href="#">Navbar</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Item 1</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
          <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
        </nav>
        <a class="nav-link" href="#item-2">Item 2</a>
        <a class="nav-link" href="#item-3">Item 3</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
        </nav>
      </nav>
    </nav>
    
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
      <h4 id="item-1">Item 1</h4>
      <p>...</p>
      <h5 id="item-1-1">Item 1-1</h5>
      <p>...</p>
      <h5 id="item-1-2">Item 1-2</h5>
      <p>...</p>
      <h4 id="item-2">Item 2</h4>
      <p>...</p>
      <h4 id="item-3">Item 3</h4>
      <p>...</p>
      <h5 id="item-3-1">Item 3-1</h5>
      <p>...</p>
      <h5 id="item-3-2">Item 3-2</h5>
      <p>...</p>
    </div>

   </div>
  
 </div>
</div>
<!-- End -->


