<div class="container-fluid">

    <div class="row" style="border-bottom: 1px solid gray;">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="d-flex align-items-center justify-content-end" style="height: 350px;">
                <p><b style="font-size: 50px;font-family:Arial">Find Your<br>Next Home !!</b><br>
                    <a style="font-size: 25px;font-family:Arial">Don’t wait. Get Your Dream Apartment</a>
                <br>
                <br>
                <button type="button" class="btn btn-primary">Explore All</button></p>
              </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <img src="../assets/image/accomo.jpg" class="img-fluid mx-auto d-block" alt="404 Error" style="max-width: 50%;height: auto;">
        </div>
    </div>

    <div class="row" style="margin-top: 40px;">
        <div class="col-lg-12 col-md-12 col-12 d-flex align-items-center justify-content-center">
            <p style="font-size: 25px;font-family:Arial;font-weight:bold">What Kind of Accomodation You Want ???</p>
        </div>
    </div>

    <div class="row" style="margin-top: 40px;">
        <div class="col-lg-12 col-md-12 col-12 d-flex align-items-center justify-content-center">
                <button class="btn" style=" background-color: #666; color: white;border: none;outline: none;padding: 12px 16px;"> Show all</button>&nbsp;
                <button class="btn" style="border: none;outline: none;padding: 12px 16px;background-color: #f1f1f1;color:black"> Single Room</button>&nbsp;
                <button class="btn" style="border: none;outline: none;padding: 12px 16px;background-color: #f1f1f1;color:black"> 2 Rooms</button>&nbsp;
                <button class="btn" style="border: none;outline: none;padding: 12px 16px;background-color: #f1f1f1;color:black"> 1-bhk</button>&nbsp;
                <button class="btn" style="border: none;outline: none;padding: 12px 16px;background-color: #f1f1f1;color:black"> 2-bhk</button>&nbsp;
                <button class="btn" style="border: none;outline: none;padding: 12px 16px;background-color: #f1f1f1;color:black"> More</button>
        </div>
    </div>

    <div class="row" style="margin-top:40px">

        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="mb-3">Best For You </h3>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
        
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/Room1.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Nandanvan
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single rrom is availabe in Nandanvan . All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room2.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    1 BHK Flat Near Jagnade Square
                                                </div>
                                                <div class="card-text">
                                                    1 BHK Flat is Avaialble near Jagnade Square. Semi-Furnished,Well maintained,etc
                                                </div>
                                                <div class="card-text">
                                                    Rs. 7500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room3.webp "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Darshan Colony
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Darshan Colony,Nandanvan .
                                                </div>
                                                <div class="card-text">
                                                    Rs. 3000
                                                </div>
                                                <a href="#" class="card-button">View</a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/room4.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Swatantray Nagar
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Swatantray Nagar,Nandanvan .
                                                </div>
                                                <div class="card-text">
                                                    Rs. 1500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
        
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="..\assets\image\room5.webp"/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Ayodhya Nagar
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single rrom is availabe in Ayodhya Nagar . All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2000
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="..\assets\image\room6.webp"/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    1 BHK Flat in Vardhaman Nagar
                                                </div>
                                                <div class="card-text">
                                                    1 BHK Flat is Avaialble near Vardhaman Nagar. Semi-Furnished,Well maintained,etc
                                                </div>
                                                <div class="card-text">
                                                    Rs. 8000
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room3.webp "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Sakkardhara
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Sakkardhara.All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2700
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/room4.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Tiranga Square
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Tiranga Square .All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2200
                                                </div>
                                                <a href="#" class="card-button">View</a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
        
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/Room1.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Kabir Nagar
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single rrom is availabe in Kabir Nagar . All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 3500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room2.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    1 BHK Flat Near Sharda Nagar
                                                </div>
                                                <div class="card-text">
                                                    1 BHK Flat is Avaialble near Sharda Nagar. Semi-Furnished,Well maintained,etc
                                                </div>
                                                <div class="card-text">
                                                    Rs. 8500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room3.webp "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room Near Bollywood Point
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Bollywood Point.All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/room4.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in AzamShah Layout
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in AzamShah Layout .All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2300
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>





    <div class="row" style="margin-top:10px">

        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="mb-3">Best For You </h3>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
        
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/Room1.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Nandanvan
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single rrom is availabe in Nandanvan . All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room2.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    1 BHK Flat Near Jagnade Square
                                                </div>
                                                <div class="card-text">
                                                    1 BHK Flat is Avaialble near Jagnade Square. Semi-Furnished,Well maintained,etc
                                                </div>
                                                <div class="card-text">
                                                    Rs. 7500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room3.webp "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Darshan Colony
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Darshan Colony,Nandanvan .
                                                </div>
                                                <div class="card-text">
                                                    Rs. 3000
                                                </div>
                                                <a href="#" class="card-button">View</a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/room4.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Swatantray Nagar
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Swatantray Nagar,Nandanvan .
                                                </div>
                                                <div class="card-text">
                                                    Rs. 1500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
        
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="..\assets\image\room5.webp"/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Ayodhya Nagar
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single rrom is availabe in Ayodhya Nagar . All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2000
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="..\assets\image\room6.webp"/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    1 BHK Flat in Vardhaman Nagar
                                                </div>
                                                <div class="card-text">
                                                    1 BHK Flat is Avaialble near Vardhaman Nagar. Semi-Furnished,Well maintained,etc
                                                </div>
                                                <div class="card-text">
                                                    Rs. 8000
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room3.webp "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Sakkardhara
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Sakkardhara.All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2700
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/room4.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Tiranga Square
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Tiranga Square .All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2200
                                                </div>
                                                <a href="#" class="card-button">View</a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
        
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/Room1.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Kabir Nagar
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single rrom is availabe in Kabir Nagar . All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 3500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room2.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    1 BHK Flat Near Sharda Nagar
                                                </div>
                                                <div class="card-text">
                                                    1 BHK Flat is Avaialble near Sharda Nagar. Semi-Furnished,Well maintained,etc
                                                </div>
                                                <div class="card-text">
                                                    Rs. 8500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room3.webp "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room Near Bollywood Point
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Bollywood Point.All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/room4.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in AzamShah Layout
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in AzamShah Layout .All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2300
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-12 col-md-12 col-12">
            <img style="height: 200px;width:100%" src="..\assets\image\addbanner.png"/>
        </div>
    </div>
    <br>


    <div class="row" style="margin-top:40px">

        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="mb-3">Best For You </h3>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
        
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/Room1.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Nandanvan
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single rrom is availabe in Nandanvan . All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room2.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    1 BHK Flat Near Jagnade Square
                                                </div>
                                                <div class="card-text">
                                                    1 BHK Flat is Avaialble near Jagnade Square. Semi-Furnished,Well maintained,etc
                                                </div>
                                                <div class="card-text">
                                                    Rs. 7500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room3.webp "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Darshan Colony
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Darshan Colony,Nandanvan .
                                                </div>
                                                <div class="card-text">
                                                    Rs. 3000
                                                </div>
                                                <a href="#" class="card-button">View</a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/room4.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Swatantray Nagar
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Swatantray Nagar,Nandanvan .
                                                </div>
                                                <div class="card-text">
                                                    Rs. 1500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
        
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="..\assets\image\room5.webp"/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Ayodhya Nagar
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single rrom is availabe in Ayodhya Nagar . All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2000
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="..\assets\image\room6.webp"/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    1 BHK Flat in Vardhaman Nagar
                                                </div>
                                                <div class="card-text">
                                                    1 BHK Flat is Avaialble near Vardhaman Nagar. Semi-Furnished,Well maintained,etc
                                                </div>
                                                <div class="card-text">
                                                    Rs. 8000
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room3.webp "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Sakkardhara
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Sakkardhara.All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2700
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/room4.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Tiranga Square
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Tiranga Square .All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2200
                                                </div>
                                                <a href="#" class="card-button">View</a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
        
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/Room1.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in Kabir Nagar
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single rrom is availabe in Kabir Nagar . All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 3500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room2.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    1 BHK Flat Near Sharda Nagar
                                                </div>
                                                <div class="card-text">
                                                    1 BHK Flat is Avaialble near Sharda Nagar. Semi-Furnished,Well maintained,etc
                                                </div>
                                                <div class="card-text">
                                                    Rs. 8500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                    src="../assets/image/room3.webp "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room Near Bollywood Point
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in Bollywood Point.All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2500
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 mb-3">
                                            <div class="card-sl">
                                                <div class="card-image">
                                                    <img style="height: 170px;width:100%"
                                                        src="../assets/image/room4.jpg "/>
                                                </div>
                            
                                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                                <div class="card-heading">
                                                    Single Room in AzamShah Layout
                                                </div>
                                                <div class="card-text">
                                                    Medium-size single room is availabe in AzamShah Layout .All the facilities are available.
                                                </div>
                                                <div class="card-text">
                                                    Rs. 2300
                                                </div>
                                                <a href="#" class="card-button"> View</a>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>


















</div><!-- End Div -->








