<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12" style="margin-top: 20px;">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Order No.</th>
                        <th scope="col">FirstName</th>
                        <th scope="col">LastName</th>
                        <th scope="col">Order</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Mode of Payment</th>
                        <th scope="col">Billing Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Sharukh</td>
                        <td>Khan</td>
                        <td>watch</td>
                        <td>Arriving tomarrow</td>
                        <td>Cash On Delivery</td>
                        <td>Mannat, Mumbai, Maharashtra - 400050</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12" style="margin-top: 20px;">

            <h3 style="margin-bottom: 20px;margin-left:5px;">My Orders</h3>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <img src="assets/image/appliances/mac.webp" alt="" style="width:100px;">
                        <h5 class="mb-1">APPLE 2020 Macbook Air M1 - (8 GB/256 GB SSD/Mac OS Big Sur) MGN63HN/A (13.3
                            inch, Space
                            Grey, 1.29 kg)</h5>
                        <small>Delivered on Sep 08</small>
                    </div>
                    <small style="margin-left:180px">Black</small><br>
                    <small style="margin-left:180px">Seller: Flashstar Commerce</small>
                    <p class="mb-1" style="margin-left:180px">$1000</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <img src="assets/image/appliances/mac.webp" alt="" style="width:100px;">
                        <h5 class="mb-1">APPLE 2020 Macbook Air M1 - (8 GB/256 GB SSD/Mac OS Big Sur) MGN63HN/A (13.3
                            inch, Space
                            Grey, 1.29 kg)</h5>
                        <small>Delivered on Sep 08</small>
                    </div>
                    <small style="margin-left:180px">Black</small><br>
                    <small style="margin-left:180px">Seller: Flashstar Commerce</small>
                    <p class="mb-1" style="margin-left:180px">$1000</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <img src="assets/image/appliances/mac.webp" alt="" style="width:100px;">
                        <h5 class="mb-1">APPLE 2020 Macbook Air M1 - (8 GB/256 GB SSD/Mac OS Big Sur) MGN63HN/A (13.3
                            inch, Space
                            Grey, 1.29 kg)</h5>
                        <small>Delivered on Sep 08</small>
                    </div>
                    <small style="margin-left:180px">Black</small><br>
                    <small style="margin-left:180px">Seller: Flashstar Commerce</small>
                    <p class="mb-1" style="margin-left:180px">$1000</p>
                </a>
            </div>

        </div>
    </div>
</div>