@import "../../styles.scss";

@media screen and (min-width: 1024px) {
  .carousel-header {
    // background-color: aqua;
    height: 500px;
  }
  .carousel {
    height: 490px;
  }
  .carousel-item {
    img {
      height: 490px;
      width: 100%;
    }
  }

  .twoCatagories {
    margin: 15px 0px;
    // background-color: #2a70c5;
    height: 260px;
  }

  .row {
    // background-color: aquamarine;
    padding: 10px 0px;
    width: 99%;
    gap: 0px 70px;
    margin-left: 5px;
    height: 250px;
  }

  .appliances {
    // background-color: red;
    width: 500px;
    border-radius: 10px;
  }

  .appliances-img {
    background-size: cover;
    height: 230px;
    border-radius: 10px;
    width: 100%;
  }

  .appliances-text {
    font-size: 45px;
    margin-left: 135px;
    margin-top: 85px;
    color: $off-white;
    font-family: "arima";
  }

  .furniture {
    // background-color: grey;
    border-radius: 10px;
    width: 500px;
  }

  .furniture-img {
    background-size: cover;
    height: 230px;
    width: 100%;
    border-radius: 10px;
  }

  .furniture-text {
    font-size: 45px;
    margin-left: 135px;
    margin-top: 85px;
    color: $off-white;
    font-family: "arima";
  }

  .appliances-item-slider {
    // background-color: #9b9b9b;
    height: 500px;
  }

  .appliances-item-title {
    font-size: 30px;
    font-weight: 450;
    font-family: "arima";

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .furniture-item-slider {
    // background-color: #0047ab;
    height: 500px;
  }

  .furniture-item-title {
    font-size: 30px;
    font-weight: 450;
    font-family: "arima";

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .slider-wrap {
    overflow: hidden;
    position: relative;
  }
  .slider-main {
    position: relative;
    overflow: hidden;
  }

  .item {
    display: inline;
    position: relative;
    margin: 0px 10px;
    border-radius: 4px;
    min-width: 280px;
    min-height: 350px;
  }
  .item-image {
    height: 230px;
    width: 270px;
  }
  .item-image-title-text {
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "arima";
  }
  .item-image-price-text {
    font-weight: 500;
    color: rgb(70, 70, 218);
    display: inline;
    font-size: 18px;
    font-family: "arima";
  }

  .item-image-msrp-price-text {
    font-weight: 500;
    color: grey;
    display: inline;
    text-decoration: line-through;
    font-family: "arima";
  }
  .rent-now {
    margin-top: 10px;
    margin-left: 90px;
  }

  .rent-now-button {
    background-color: $projectBlue;
    color: $off-white;

    &:hover {
      background-color: $projectBlue;
      color: $off-white;
    }
  }

  .button-area {
    // background-color: aqua;
  }

  .prev {
    position: relative;
    transform: translate(-50%, -50%);
    border: none;
    background-color: $projectBlue;
    color: $off-white;
    top: -390px;
    left: 1190px;

    svg {
      width: 20px;
      height: 20px;
    }
    &:hover {
      background-color: $projectBlue;
      color: $off-white;
    }
  }

  .next {
    position: relative;
    transform: translate(-50%, -50%);
    border: none;
    background-color: $projectBlue;
    color: $off-white;
    top: -390px;
    left: 1200px;
    svg {
      width: 20px;
      height: 20px;
    }
    &:hover {
      background-color: $projectBlue;
      color: $off-white;
    }
  }
}

@media screen and (max-width: 430px) {
  .carousel-header {
    // background-color: aqua;
    height: 220px;
  }
  .carousel {
    height: 200px;
  }
  .carousel-item {
    img {
      height: 200px;
      width: 100%;
    }
  }

  .twoCatagories {
    margin: 15px 0px;
    // background-color: #2a70c5;
  }
  .row {
    width: 100%;
    // background-color: aquamarine;
    margin-left: 3px;

    gap: 20px;
  }

  .appliances {
    // background-color: red;
    width: 100%;
  }

  .appliances-img {
    background-size: cover;
    height: 150px;
    border-radius: 10px;
  }

  .appliances-text {
    font-size: 35px;
    margin-left: 100px;
    margin-top: 45px;
    color: $off-white;
    font-family: "arima";
  }

  .furniture {
    // background-color: grey;
    width: 100%;
  }

  .furniture-img {
    background-size: cover;
    height: 150px;
    border-radius: 10px;
  }

  .furniture-text {
    font-size: 35px;
    color: $off-white;
    margin-left: 100px;
    margin-top: 45px;

    font-family: "arima";
  }

  .appliances-item-slider {
    // background-color: #9b9b9b;
    height: 370px;
  }

  .appliances-item-title {
    font-size: 25px;
    font-weight: 450;
    font-family: "arima";

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .furniture-item-slider {
    // background-color: blueviolet;
  }
  .furniture-item-title {
    font-size: 25px;
    font-weight: 450;
    font-family: "arima";

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .slider-wrap {
    overflow: hidden;
    position: relative;
  }
  .slider-main {
    position: relative;
    overflow: hidden;
    margin-left: -25px;
  }

  .item {
    display: inline;
    position: relative;
    margin: 0px 10px;
    border-radius: 4px;
    min-width: 180px;
    min-height: 260px;
  }
  .item-image {
    height: 130px;
    width: 170px;
  }
  .item-image-title-text {
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "arima";
  }
  .item-image-price-text {
    font-weight: 500;
    color: rgb(70, 70, 218);
    display: inline;
    font-size: 17px;
    font-family: "arima";
  }

  .item-image-msrp-price-text {
    font-weight: 500;
    color: grey;
    display: inline;
    text-decoration: line-through;
    font-family: "arima";
  }
  .rent-now {
    margin-top: 10px;
    margin-left: 40px;
  }
  .rent-now-button {
    background-color: $projectBlue;
    color: $off-white;

    &:hover {
      background-color: $projectBlue;
      color: $off-white;
    }
  }

  .prev {
    position: relative;
    transform: translate(-50%, -50%);
    border: none;
    background: $projectBlue;
    color: $off-white;
    top: -290px;
    left: 320px;

    svg {
      width: 15px;
      height: 15px;
    }
    &:hover {
      background-color: $projectBlue;
      color: $off-white;
    }
  }

  .next {
    position: relative;
    transform: translate(-50%, -50%);
    border: none;
    background-color: $projectBlue;
    color: $off-white;
    top: -290px;
    left: 320px;
    margin-left: 5px;
    svg {
      width: 15px;
      height: 15px;
    }

    &:hover {
      background-color: $projectBlue;
      color: $off-white;
    }
  }
}
