<br />
<div class="">
  <div class="carousel" style="height: 490px">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="7000">
          <div
            class="d-block w-100 carousel-item-images"
            style="
              background: url(https://png.pngtree.com/background/20210712/original/pngtree-fashion-furniture-banner-background-picture-image_1186187.jpg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            "
          ></div>
        </div>
        <div class="carousel-item" data-bs-interval="7000">
          <div
            class="d-block w-100 carousel-item-images"
            style="
              background: url(https://png.pngtree.com/background/20210710/original/pngtree-window-kitchen-small-fresh-home-appliance-poster-picture-image_1039864.jpg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            "
          ></div>
        </div>
        <div class="carousel-item" data-bs-interval="7000">
          <div
            class="d-block w-100 carousel-item-images"
            style="
              background: url(https://png.pngtree.com/background/20210709/original/pngtree-room-furniture-interior-home-background-picture-image_334712.jpg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            "
          ></div>
        </div>
        <div class="carousel-item" data-bs-interval="7000">
          <div
            class="d-block w-100 carousel-item-images"
            style="
              background: url(https://png.pngtree.com/background/20210710/original/pngtree-99-household-appliances-big-promotion-carnival-blue-banner-picture-image_1021800.jpg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            "
          ></div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<br />

<div class="" style="overflow: hidden">
  <div class="">
    <div class="row" style="height: 290px">
      <div class="appliances col-lg-6">
        <div class="mx-5 my-4" style="width: 560px; height: 230px">
          <div
            class="card appliances-img"
            style="
              background: url(https://images.unsplash.com/photo-1570222094114-d054a817e56b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXBwbGlhbmNlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)
                center no-repeat;
              background-size: cover;
              height: 230px;
              border-radius: 15px;
            "
          >
            <a
              class="appliances"
              style="
                font-size: 3vw;
                margin-left: 170px;
                margin-top: 80px;
                color: aliceblue;
                text-decoration: none;
                font-family: 'arima';
              "
            >
              Appliances
            </a>
          </div>
        </div>
      </div>

      <div class="furniture col-lg-6">
        <div class="mx-5 my-4" style="width: 560px; height: 230px">
          <div
            class="card appliances-img"
            style="
              background: url(https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)
                center no-repeat;
              background-size: cover;
              height: 230px;
              border-radius: 15px;
            "
          >
            <a
              style="
                font-size: 3vw;
                color: white;
                margin-left: 35%;
                margin-top: 80px;
                text-decoration: none;
                font-family: 'arima';
              "
            >
              Furniture
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="" style="height: 590px">
  <div class="px-5 py-4">
    <p style="font-size: 2.6vw; font-weight: 450; font-family: 'arima'">
      Appliances List<svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 20"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </p>
  </div>
  <div class="silder-wrap">
    <div class="slider-main d-flex">
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://whirlpoolindia.vtexassets.com/arquivos/ids/156092-220-220?v=1751527194&width=220&height=220&aspect=true)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            Magicook Pro 25L Grill Microwave
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹9,600
          </p>
          <p style="color: grey; display: inline; font-family: 'arima'">MRP</p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹10099
          </p>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://whirlpoolindia.vtexassets.com/arquivos/ids/160316-220-220?v=1755152788&width=220&height=220&aspect=true)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            Superb Atom 7kg 5 Star Semi Automatic Washing Machine
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹9,990
          </p>
          <p
            class=""
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹14,600
          </p>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://whirlpoolindia.vtexassets.com/arquivos/ids/156070-220-220?v=1755264519&width=220&height=220&aspect=true)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            Magicook Pro 20L Solo Microwave (18 Auto-Cook Menus)
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹6,990
          </p>
          <p
            class=""
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹8,775
          </p>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/51IH7EPo7ML._AC_UY218_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            Black & Decker Appliances DCM25-IN 330-Watt 1-Cup Coffee Maker
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹6,990
          </p>
          <p
            class=""
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹8,775
          </p>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/610XNgcgfKL._AC_UY218_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            KENT Smart Multi Cooker Cum Kettle 1.2 Liter 800W, Electric Cooker
            with Steamer & Boiler for Idlis, Instant Noodles, Momos, Eggs, &
            Steam Vegetables | Inner Stainless Steel & Cool Touch Outer Body
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹1,599
          </p>
          <p
            class=""
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹2,900
          </p>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/71C3psw4rzS._AC_UY218_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            KENT 16025 Sandwich Grill 700W | Non-Toxic Ceramic Coating |
            Automatic Temperature Cut-off with LED Indicator | Adjustable Height
            Control, Metallic Silver, Standard
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹1,699
          </p>
          <p
            class=""
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹1,975
          </p>
        </div>
      </div>
    </div>
    <div class="button-area">
      <button class="prev btn" appNextApplianceButton>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="60"
          fill="currentColor"
          class="bi bi-chevron-compact-left"
          viewBox="0 0 15 15"
        >
          <path
            fill-rule="evenodd"
            d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"
          />
        </svg>
      </button>
      <button class="next btn" appPrevApplianceButton>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="60"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<br />

<div class="" style="height: 590px">
  <div class="heading px-5 py-4">
    <p style="font-size: 2.7vw; font-weight: 450; font-family: 'arima'">
      Furniture List
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 20"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </p>
  </div>
  <div class="silder-wrap">
    <div class="slider-main d-flex">
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://ii3.pepperfry.com/media/catalog/product/h/a/494x544/hayao-4-tier-book-shelf-in-wenge-finish-by-mintwud-hayao-4-tier-book-shelf-in-wenge-finish-by-mintwu-szpnsj.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            Hayao 4 Tier Book Shelf In Wenge Finish
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹ 2,999
          </p>
          <p style="font-family: 'arima'; color: gray; display: inline">MRP</p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹ 9,999
          </p>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://ii2.pepperfry.com/media/catalog/product/m/o/494x544/moka-book-shelf-in-brown-colour-by-crystal-furnitech-moka-book-shelf-in-brown-colour-by-crystal-furn-3qkyrf.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            Moka Book Shelf in Brown Colour
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹ 2,018
          </p>
          <p
            class=""
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹ 2,699
          </p>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/61ROdHOc6+L._AC_UL320_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            GIGLICK 4XL Bean Bag with Footrest Ready to Use Filled with Beans
            Color Navy Blue(Faux Leather)
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹2,299.00
          </p>
          <p
            class=""
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹4,999.00
          </p>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/71nTAf3lDuL._AC_UL320_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            Hoopy Classic Bean Bag Cover Without Beans (XL, Red) | Ideal for
            Office and Home Use | Premium Fabric & Craftsmanship
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹699.00
          </p>
          <p
            class=""
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹1,500.00
          </p>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/71v0xtDKjmL._AC_UL320_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            Folding Matters| Folding Matters Home Kitchen| Folding Matters with
            Covers| Folding Matters Double Bed for Floor|
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹1,299.00
          </p>
          <p
            class=""
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹2,999.00
          </p>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/614ArW7JDuL._AC_UL320_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              font-size: 1.4vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: 'arima';
            "
          >
            SUNNYCRAFT Multipurpose Home Engineered Wood Powder Coated Finish
            Study Desk (White)
          </p>
        </div>
        <div class="ps-3">
          <p
            style="
              font-weight: 500;
              color: rgb(70, 70, 218);
              display: inline;
              font-size: 2vw;
              font-family: 'arima';
            "
          >
            ₹2,599
          </p>
          <p
            class=""
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p
            class="p-1"
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              text-decoration: line-through;
              font-family: 'arima';
            "
          >
            ₹4,999
          </p>
        </div>
      </div>
    </div>
    <div class="button-area">
      <button class="prev btn" appNextApplianceButton>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="60"
          fill="currentColor"
          class="bi bi-chevron-compact-left"
          viewBox="0 0 15 15"
        >
          <path
            fill-rule="evenodd"
            d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"
          />
        </svg>
      </button>
      <button class="next btn" appPrevApplianceButton>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="60"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<br />

<div class=""></div>
