<div
  class="container-fluid"
  style="background-color: rgb(207, 204, 204); margin-top: -20px"
>
  <div class="signup-page text-white">
    <form style="background-color: rgb(66, 66, 66); width: 320px">
      <h3><b>Login Now!!!</b></h3>

      <div class="form-group text-white" style="margin-top: -20px">
        <label for="email">Email<span class="required-field">*</span></label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Email"
          name="email"
          required
        />
      </div>
      <div class="form-group text-white">
        <label for="psw">Password<span class="required-field">*</span></label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter Password"
          name="psw"
          required
        />
      </div>

      <button type="submit" class="btn btn-success">Login</button>

      <hr />
      <div class="text-white" style="margin-top: -20px">
        <p class="text-center">
          Not have an account? <button routerLink="register">Register Here</button>
        </p>
      </div>
    </form>
  </div>
</div>
