<div class="container-fluid">
  <div class="row" style="height: 90px;background-color:rgb(43, 42, 42);margin-top: 5px;">
      
    <h2 class="text-white" style="margin-top:30px;padding-left:80px;"><b>Contact Us</b></h2>
 </div>
   
       <div class="row" style="margin-top: 30px;">
  
          
          <div class="col-lg-6 col-md-12 col-12 text-center">
            <img src="../assets/image/Vehicle/vehicle4.jpg" style="height:440px;width: 400px;margin-top: 0px;border-radius: 2%;" >
          </div>
      
          <div class="col-lg-6 col-md-12 col-12">
            <div class="card" style="width:100%;background-color: rgb(27, 89, 122)">
              <h3 class="text-center text-white" style="margin-top: 10px;font-weight: 500;">Contact Us</h3>
              <div class="card-body text-white">
            
              <div class="row" style="margin-top: -12px;">
                 
                 <div class="col-lg-6 col-6 col-md-6" style="">
                    <div class="form-group">
                     <label for="usr">NAME :</label>
                     <input type="text" class="form-control" id="usr">
                    </div>
                 </div>
                 <div class="col-lg-6 col-6 col-6 col-md-6" style="">
                    <div class="form-group">
                     <label for="usr">EMAIL :</label>
                     <input type="text" class="form-control" id="contact">
                  </div>
             
               
             
            </div>
               
           </div>
     
             <div class="row text-white" style="margin-top: -8px;">
               
               <div class="col-lg-6 col-6 col-md-6" style="">
                 <div class="form-group">
                   <label for="usr">PHONE :</label>
                   <input type="text" class="form-control" id="usr">
                 </div>
               </div>
               
               <div class="col-lg-6 col-6 col-md-6" style="">
                 <div class="form-group">
                   <label for="usr">SUBJECT :</label>
                   <input type="text" class="form-control" id="contact">
                 </div>
               </div>
              
             </div>
     
             <div class="row text-white" style="margin-top: -10px;">
               
               <div class="col-lg-12 col-12">
                 <div class="form-group">
                   <label for="comment">
                     COMMENT :
                   </label>
                   <textarea class="form-control" rows="5" id="comment">
     
                   </textarea>
               </div>
               
             </div>
             
             </div>
             <div class="row" style="margin-top: -5px;">
              
               <div class="col-lg-12 col-12">
               <button type="button" class="btn btn-primary btn-block" style="margin-top: 0px;background-color: white;padding-top: 5px;padding-bottom: 5px;width: 100%;"><h4 style="font-size: 18px;color: black;">SEND MESSAGE</h4></button>
               </div>
              
             </div>
             
             
             
           </div>
           </div>
           </div>
           </div>
           </div>
       
     
   
     <div class="row" style="margin-top:40px ;">
       <h1 class="text-center" style="font-size:45px ;font-family:Arial;font-weight: 700;">GET IN TOUCH</h1>
     </div>
     <div class="row" style="margin-top:0px ;">
       
     <section class="pt-5 pb-5">
       <div class="container">
           <div class="row">
               <div class="col-md-6 mb-3 col-lg-3 col-12">
                   <div class="card text-center">
                       <div class="test rounded-circle text-center" style="width: 100px;height: 100px;background-color: rgb(40, 126, 172);margin-left: 80px;margin-top: 30px;">
                           <i class="fa fa-envelope-o" aria-hidden="true" style="margin-top: 23px;color:white;font-size:50px"></i>
                         </div>
                       <div class="card-body">
                           <h4 class="card-title"><b>Email Address</b></h4>
                           <p class="card-text">info@booking.com</p>
   
                       </div>
                   <br>
                   </div>
               </div>
   
               <div class="col-md-6 mb-3 col-lg-3 col-12">
                   <div class="card text-center">
                       <div class="test rounded-circle text-center" style="width: 100px;height: 100px;background-color: rgb(40, 126, 172);margin-top: 30px;margin-left: 80px;">
                           <i class="fa fa-phone" aria-hidden="true" style="margin-top: 23px;color:white;font-size:50px"></i>
                         </div>
                       <div class="card-body">
                           <h4 class="card-title"><b>Phone No.</b></h4>
                           <p class="card-text">+91 8765445552</p>
   
                       </div>
                  <br>
                   </div>
               </div>
   
               <div class="col-md-6 mb-3 col-lg-3 col-12">
                   <div class="card text-center">
                       <div class="test rounded-circle text-center" style="width: 100px;height: 100px;background-color: rgb(40, 126, 172);margin-left: 80px;margin-top: 30px;">
                           <i class="fa fa-map-marker" aria-hidden="true" style="margin-top: 23px;color:white;font-size:50px"></i>
                         </div>
                       <div class="card-body">
                           <h4 class="card-title"><b>Location</b></h4>
                           <p class="card-text">info@booking vgy yyt</p>
   
                       </div>
                <br>
                   </div>
               </div>

               <div class="col-md-6 mb-3 col-lg-3 col-12">
                <div class="card text-center">
                    <div class="test rounded-circle text-center" style="width: 100px;height: 100px;background-color: rgb(40, 126, 172);margin-left: 80px;margin-top: 30px;">
                        <i class="fa fa-life-ring" aria-hidden="true" style="margin-top: 23px;color:white;font-size:50px"></i>
                      </div>
                    <div class="card-body">
                        <h4 class="card-title"><b>7/24 Support</b></h4>
                        <p class="card-text">We are available for you.</p>

                    </div>
             <br>
                </div>
            </div>
               </div>
              
               
                <div class="row" style="margin-top: 30px;background-color: rgb(253, 250, 250);width:100%">
                    
                 <div class="col-lg-6 col-md-12 col-12" style="padding-top: 15px;padding-bottom:15px;border: 1px solid gainsboro;">
                   <h5 class="text-left" style="font-size: 20px;"><b style="font-family: poppins;">OPENING HOURS:</b> 24/7</h5>
                   <h5 class="text-left" style="padding-right: 20px;font-size: 18px;padding-top:7px ;padding-bottom: 7px;">
                 We provide you a best products in best price and affordable price. We provide you a best platform 
                 for customers. This is a platform in which we provide common platform for owner and customer.
                   </h5>
                   <h5 class="text-left" style="font-size: 20px;"><b>Social :</b></h5>
                   
                     <div style="color: rgb(18, 52, 70)">
                       
                        <a href="#" class="fa fa-facebook" style="margin-top: 5px;"></a>&nbsp;
                        <a href="#" class="fa fa-twitter"></a>&nbsp;
                        <a href="#" class="fa fa-google"></a>&nbsp;
                        <a href="#" class="fa fa-linkedin"></a>&nbsp;
                        <a href="#" class="fa fa-youtube"></a>&nbsp;
                        <a href="#" class="fa fa-instagram"></a>
                       
                     </div>
                     
                   
                 </div>
                 
                 <div class="col-lg-6 col-md-12 col-12">
                    <img src="../assets/image/v6.jpg" style="height:300px;margin-top: -40px;border-radius: 2%;width: 100%;" > 
                 </div>
                
               </div>
               </div>