<mat-toolbar>
    <button class="sidenav-button" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <mat-list>
            <p class="sidenav-title">Your Account</p>
            <mat-divider style="color:white;"></mat-divider>

            <mat-list-item routerLink="seller-profile-page">Profile</mat-list-item>
            <mat-divider style="color:white;"></mat-divider>

            <mat-list-item routerLink="seller-order-page">Order</mat-list-item>
            <mat-divider style="color:white;"></mat-divider>

            <!-- <mat-list-item routerLink="address">Address</mat-list-item>
            <mat-divider style="color:white;"></mat-divider> -->

            <!-- <mat-list-item routerLink="account-details">Account Details</mat-list-item>
            <mat-divider style="color:white;"></mat-divider> -->

            <mat-list-item routerLink="seller-analytics-page">Analytics</mat-list-item>
            <mat-divider style="color:white;"></mat-divider>

            <mat-list-item routerLink="seller-logout-page">Log Out</mat-list-item>

        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class=" mat-elevation-z4">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>