<div style="background-color: rgba(245, 245, 245, 0.671);">
  <nav class="navbar navbar-expand-sm navbar-dark " style="background-color: rgba(245, 245, 245, 0.671);">
    <div class="container-fluid">
        <img class="navbar-brand" src="../assets/image/PGAV.png" style="height:30px; width:210px;margin-left:2%;">
        
      <img src="../assets/image/PGAV.png" style="height:30px; width:210px;margin-left:2%;">
      

          <input class="form-control " type="text" placeholder="   Search" style="margin-left:5% ; border-radius:25px ; border-color: lightslategray; font-size: 15pt;">
          <button class="btn btn-outline-primary"  type="button" style="margin-left: 1%; border-radius: 14px;font-size: 13pt;">Search
          </button>
      
          <button class="btn btn-outline-light btn-sm" style="width:100px; border-radius: 25px;margin-left: 7%;">
            <a class="nav-link text-black"  style="font-size:13pt ;" routerLink="home"> <b>Home</b></a>
          </button>
          <button class="btn btn-outline-light btn-sm" style="width:100px; border-radius: 25px;margin-left: 1%;"data-bs-toggle="collapse" data-bs-target="#demo">
            <a class="nav-link text-black"  style="font-size:13pt ;"> <b>Services <i  class="fa">&#xf103;</i></b></a>
          </button>
          <button class="btn btn-outline-light btn-sm" style="width:100px; border-radius: 25px;margin-left: 1%;">
            <a class="nav-link text-black"  style="font-size:13pt ;" routerLink="offers"> <b>Offers %</b></a>
          </button>
          <button class="btn btn-outline-light btn-sm" style="width:100px; border-radius: 25px;margin-left: 1%;">
            <a class="nav-link text-black"  style="font-size:13pt ;"> <b><i style="font-size:24px" class="fa">&#xf290;</i> Cart</b></a>
          </button>
          <button class="btn btn-outline-light btn-sm" routerLink="Login" style="width:100px; border-radius: 25px;margin-left: 2%;">
            <a class="nav-link text-black"  style="font-size:15pt ;"> <b>Login</b></a>
          </button>
       
          
       
      
    </div>
  </nav>
  <div  id="demo" class="collapse" >
<div class="row" style="margin-top:-20px ;">
    <div class="col">
        <button class="btn btn-success btn-block" routerLink="Accomodation">Accomodation</button> 
    </div>
    <div class="col">
        <button class="btn btn-success btn-block" routerLink="tiffin">Tiffin</button> 
    </div>
    <div class="col">
        <button class="btn btn-success btn-block" routerLink="vehicle">Vehicle</button> 
    </div>
    <div class="col">
        <button class="btn btn-success btn-block" routerLink="Appliances">Appliances</button> 
    </div>
</div>
  </div>
  <div class="container-fluid" >
    <div class="row">
      <div class="col">
  
        <!-- Carousel -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
  
          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <button type="button" style="background-color: gray;"  data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" style="background-color: gray;" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" style="background-color: gray;" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" style="background-color: gray;" data-bs-target="#demo" data-bs-slide-to="3"></button>
          </div>
  
          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col">
                  <img src="../assets/image/Homepage/download.jpg" alt="Los Angeles" class="d-block" style="width:100%;height: 500px;">
                </div>
                
                  <h2 
                  style="font-size: 25pt;
                  margin-top: 10px;
                  padding-bottom: 80px;
                  text-align: center;
                  font-style:italic;
                  font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
                  >
                  <br>FIND YOUR NEXT HOME...
                  <br>
                  <br>
                  <button 
                  type="button" 
                  class="btn btn-outline-Success" 
                  routerLink="Accomodation"
                  style="border-radius: 25px; font-size: 20pt;border-color: gray;border-width: 1px;"
                  >
                  Explore Now
                </button>
                </h2>
                
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col">
                  <img src="../assets/image/Homepage/tiffin.jpg" alt="Chicago" class="d-block" style="width:100%;height: 500px;">
                </div>
                
                  <h2 
                  style="font-size: 25pt;
                  margin-top: 10px;
                  padding-bottom: 80px;
                  text-align: center;
                  font-style:italic;
                  font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
                  ><br>FIND YOUR DELICIOUS FOOD
                  <br>
                  <br>
                  <button 
                  type="button" 
                  class="btn btn-outline-Success" 
                  routerLink="tiffin"
                  style="border-radius: 25px; font-size: 20pt;border-color: gray;border-width: 1px;"
                  >
                  Explore Now
                </button>
                </h2>
                
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col">
                  <img src="../assets/image/Homepage/vehicle.jpg" alt="New York" class="d-block" style="width:100%;height: 500px;">
                </div>
                
                  <h2 
                  style="font-size: 25pt;
                  margin-top: 10px;
                  padding-bottom: 80px;
                  text-align: center;
                  font-style:italic;
                  font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
                  ><br>FIND YOUR PRIVATE VEHICLE
                  <br>
                  <br>
                  <button 
                  type="button" 
                  class="btn btn-outline-Success" 
                  routerLink="vehicle"
                  style="border-radius: 25px; font-size: 20pt;border-color: gray;border-width: 1px;"
                  >
                  Explore Now
                </button>
                </h2>
                
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col">
                  <img src="../assets/image/Homepage/appliances.jpg" alt="New York" class="d-block" style="width:100%;height: 500px;">
                </div>
              
                  <h2 
                  style="font-size: 25pt;
                  margin-top: 10px;
                  padding-bottom: 80px;
                  text-align: center;
                  font-style:italic;
                  font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
                  ><br>FIND YOUR Personal Equipment!
                  <br>
                  <br>
                  <button 
                  type="button" 
                  class="btn btn-outline-Success" 
                  routerLink="vehicle"
                  style="border-radius: 25px; font-size: 20pt;border-color: gray;border-width: 1px;"
                  >
                  Explore Now
                </button>
                </h2>
                </div>
              </div>            
            </div>
          </div>
  
          <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
      
      </div>
  
    </div>
  
  



<!-- <h1>PGAV Services</h1> -->

<router-outlet></router-outlet>





<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-white ">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 link-light">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-light">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-light">
        <i class="fa fa-google"></i>
      </a>
      <a href="" class="me-4 link-light">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-light">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-light">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-gem me-3 text-secondary"></i>
            <img src="../assets/image/PGAV.png" style="height:30px; width:210px;margin-left:2%;">
          </h6>
          <p class="text-center">
            Rental Service makes more enjoyable for an easier life. To save your time and 
            give you greater peace of mind, we offer quick and easy solutions to suit your needs. 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            ABOUT
          </h6>
          <p>
            <a href="#!" class="text-reset" routerLink="Contact">Contact Us</a>
          </p>
          <p>
            <a href="#!" class="text-reset" routerLink="About">About Us</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Offers</a>
          </p>
          <p>
            <a href="#!" class="text-reset">FAQs</a>
          </p>
          <p>
            <a href="#!" class="text-reset" data-toggle="modal" data-target="#exampleModal">Feedback</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Seller Purpose
          </h6>
          <p>
            <a href="#!" class="text-reset" data-toggle="modal" data-target="#myModal1">Advertise your Rooms</a>
          </p>
          <p>
            <a href="#!" class="text-reset" data-toggle="modal" data-target="#myModal">Advertise your Vehicles</a>
          </p>
          <p>
            <a href="#!" class="text-reset" data-toggle="modal" data-target="#myModal2">Advertise your tiffin</a>
          </p>
          <p>
            <a href="#!" class="text-reset" data-toggle="modal" data-target="#myModal3">Advertise your appliances</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fa fa-home me-3 text-light"></i> Nagpur, NY 10012, INDIA</p>
          <p>
            <i class="fa fa-envelope me-3 text-light"></i>
            info@example.com
          </p>
          <p><i class="fa fa-phone me-3 text-light"></i> + 01 234 567 88</p>
          <p><i class="fa fa-print me-3 text-light"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">PGAV DESTINATIONS.com</a>
  </div>
  <!-- Copyright -->
</footer>

<div id="feedback-form-wrapper">
  <div id="feedback-form-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Feedback Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">How likely you would like to recommand us to your friends?</label>
                <div class="rating-input-wrapper d-flex justify-content-between mt-2">
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">1</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">2</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">3</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">4</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">5</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">6</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">7</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">8</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">9</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">10</span></label>
                </div>
                <div class="rating-labels d-flex justify-content-between mt-1">
                  <label>Very unlikely</label>
                  <label>Very likely</label>
                </div>
              </div>
              <div class="form-group">
                <label for="input-one">What made you leave us so early?</label>
                <input type="text" class="form-control" id="input-one" placeholder="">
              </div>
              <div class="form-group">
                <label for="input-two">Would you like to say something?</label>
                <textarea class="form-control" id="input-two" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<!-- The Modal -->
<div class="modal" id="myModal1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header text-center" style="background-color:rgb(40, 126, 172) ">
        <h4 class="modal-title text-white">ACCOMMODATION OWNER DETAILS FORM</h4>
        
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
          <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-outline">
                      <label class="form-label" for="form6Example1">First name:</label>&nbsp;
                      <input type="text" id="form6Example1" class="form-control" />
                    
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-outline">
                      <label class="form-label" for="form6Example2">Last name:</label>
                    <input type="text" id="form6Example2" class="form-control" />
                    
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Contact:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Address:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Aadhar No:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Pin Code:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

               
                <div class="row mb-4" style="margin-top:-10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <div class="form-group">
                      <label for="sel2">Vehicle Type:</label>
                     
                      <select class="form-control" id="sel1" name="sellist1" style="height: 35px">
                        <option>Car</option>
                        <option>Bike</option>
                        <option>Moped</option>
                        
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Model:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>

              </div>

              <div class="row mb-4" style="margin-top:-20px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Manufacturing Year:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Vehicle Color</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Mileage:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Price(per Day):</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Extra Charges(Per Day):</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">License No:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

              <div class="row mb-4" style="margin-top:0px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <div class="form-group">
                      <label for="sel2">Vehicle Start Type:</label>
                     
                      <select class="form-control" id="sel1" name="sellist1" style="height: 35px">
                        <option>Self-Start</option>
                        <option>Kick-Start</option>
                        
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Brand with Model No.:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>

              </div>
              <div class="row mb-4" style="margin-top:-10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Fuel:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Engine Capacity:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <label for="commen">Short Description about Vehicle:</label>
                      <textarea class="form-control" rows="2" id="comment" required ></textarea>
                    
                  </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                      <label class="form-label" for="form6Example1">Vehicle Images(Current):</label>
                      <input type="file" name="img" multiple>
                      <input id="input-2" name="input2[]" type="file" class="file"  data-show-upload="false" data-show-caption="true" multiple>
                    
                  </div>
                </div>

                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-outline">
                      <label class="form-check-label">
                          <input class="form-check-input" type="checkbox"><p style="margin-left:20px ;">I agree with terms & conditions.<br>One Helmet is complimentary with the bike.The 
                              security deposit is refundable once we receive the bike in proper condition after 48 hours.You 
                              shall need to submit one Address proof in original and the copy of Driving License at the time
                               of receiving the bike.Vehicles are limited to 100kms/day & 2000kms/month (Exceeding Rs.5/Km).
                               Inform us at least 30min before reach that location.Monthly booking deposit Rs.200. If the 
                               bike is not available We will give the alternative bike with Proper condition.</p>
                        </label>
                  </div>
                  </div>
                  
                </div>
              </form>  
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
      </div>
      
    </div>
  </div>
</div>
 
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header text-center" style="background-color:rgb(40, 126, 172) ">
        <h4 class="modal-title text-white">VEHICLE OWNER DETAILS FORM</h4>
        
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
          <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-outline">
                      <label class="form-label" for="form6Example1">First name:</label>&nbsp;
                      <input type="text" id="form6Example1" class="form-control" />
                    
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-outline">
                      <label class="form-label" for="form6Example2">Last name:</label>
                    <input type="text" id="form6Example2" class="form-control" />
                    
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Contact:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Address:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Aadhar No:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Pin Code:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

               
                <div class="row mb-4" style="margin-top:-10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <div class="form-group">
                      <label for="sel2">Vehicle Type:</label>
                     
                      <select class="form-control" id="sel1" name="sellist1" style="height: 35px">
                        <option>Car</option>
                        <option>Bike</option>
                        <option>Moped</option>
                        
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Model:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>

              </div>

              <div class="row mb-4" style="margin-top:-20px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Manufacturing Year:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Vehicle Color</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Mileage:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Price(per Day):</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Extra Charges(Per Day):</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">License No:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

              <div class="row mb-4" style="margin-top:0px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <div class="form-group">
                      <label for="sel2">Vehicle Start Type:</label>
                     
                      <select class="form-control" id="sel1" name="sellist1" style="height: 35px">
                        <option>Self-Start</option>
                        <option>Kick-Start</option>
                        
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Brand with Model No.:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>

              </div>
              <div class="row mb-4" style="margin-top:-10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Fuel:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Engine Capacity:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <label for="commen">Short Description about Vehicle:</label>
                      <textarea class="form-control" rows="2" id="comment" required ></textarea>
                    
                  </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                      <label class="form-label" for="form6Example1">Vehicle Images(Current):</label>
                      <input type="file" name="img" multiple>
                      <input id="input-2" name="input2[]" type="file" class="file"  data-show-upload="false" data-show-caption="true" multiple>
                    
                  </div>
                </div>

                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-outline">
                      <label class="form-check-label">
                          <input class="form-check-input" type="checkbox"><p style="margin-left:20px ;">I agree with terms & conditions.<br>One Helmet is complimentary with the bike.The 
                              security deposit is refundable once we receive the bike in proper condition after 48 hours.You 
                              shall need to submit one Address proof in original and the copy of Driving License at the time
                               of receiving the bike.Vehicles are limited to 100kms/day & 2000kms/month (Exceeding Rs.5/Km).
                               Inform us at least 30min before reach that location.Monthly booking deposit Rs.200. If the 
                               bike is not available We will give the alternative bike with Proper condition.</p>
                        </label>
                  </div>
                  </div>
                  
                </div>
              </form>  
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
      </div>
      
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header text-center" style="background-color:rgb(40, 126, 172) ">
        <h4 class="modal-title text-white">TIFFIN SERVICE OWNER DETAILS FORM</h4>
        
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
          <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-outline">
                      <label class="form-label" for="form6Example1">First name:</label>&nbsp;
                      <input type="text" id="form6Example1" class="form-control" />
                    
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-outline">
                      <label class="form-label" for="form6Example2">Last name:</label>
                    <input type="text" id="form6Example2" class="form-control" />
                    
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Contact:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Address:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Aadhar No:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Pin Code:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

               
                <div class="row mb-4" style="margin-top:-10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <div class="form-group">
                      <label for="sel2">Vehicle Type:</label>
                     
                      <select class="form-control" id="sel1" name="sellist1" style="height: 35px">
                        <option>Car</option>
                        <option>Bike</option>
                        <option>Moped</option>
                        
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Model:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>

              </div>

              <div class="row mb-4" style="margin-top:-20px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Manufacturing Year:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Vehicle Color</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Mileage:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Price(per Day):</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Extra Charges(Per Day):</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">License No:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

              <div class="row mb-4" style="margin-top:0px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <div class="form-group">
                      <label for="sel2">Vehicle Start Type:</label>
                     
                      <select class="form-control" id="sel1" name="sellist1" style="height: 35px">
                        <option>Self-Start</option>
                        <option>Kick-Start</option>
                        
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Brand with Model No.:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>

              </div>
              <div class="row mb-4" style="margin-top:-10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Fuel:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Engine Capacity:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <label for="commen">Short Description about Vehicle:</label>
                      <textarea class="form-control" rows="2" id="comment" required ></textarea>
                    
                  </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                      <label class="form-label" for="form6Example1">Vehicle Images(Current):</label>
                      <input type="file" name="img" multiple>
                      <input id="input-2" name="input2[]" type="file" class="file"  data-show-upload="false" data-show-caption="true" multiple>
                    
                  </div>
                </div>

                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-outline">
                      <label class="form-check-label">
                          <input class="form-check-input" type="checkbox"><p style="margin-left:20px ;">I agree with terms & conditions.<br>One Helmet is complimentary with the bike.The 
                              security deposit is refundable once we receive the bike in proper condition after 48 hours.You 
                              shall need to submit one Address proof in original and the copy of Driving License at the time
                               of receiving the bike.Vehicles are limited to 100kms/day & 2000kms/month (Exceeding Rs.5/Km).
                               Inform us at least 30min before reach that location.Monthly booking deposit Rs.200. If the 
                               bike is not available We will give the alternative bike with Proper condition.</p>
                        </label>
                  </div>
                  </div>
                  
                </div>
              </form>  
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
      </div>
      
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal3">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header text-center" style="background-color:rgb(40, 126, 172) ">
        <h4 class="modal-title text-white">APPLIANCES / FURNITURE OWNER DETAILS FORM</h4>
        
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
          <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-outline">
                      <label class="form-label" for="form6Example1">First name:</label>&nbsp;
                      <input type="text" id="form6Example1" class="form-control" />
                    
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-outline">
                      <label class="form-label" for="form6Example2">Last name:</label>
                    <input type="text" id="form6Example2" class="form-control" />
                    
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Contact:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Address:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Aadhar No:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Pin Code:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

               
                <div class="row mb-4" style="margin-top:-10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <div class="form-group">
                      <label for="sel2">Vehicle Type:</label>
                     
                      <select class="form-control" id="sel1" name="sellist1" style="height: 35px">
                        <option>Car</option>
                        <option>Bike</option>
                        <option>Moped</option>
                        
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Model:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>

              </div>

              <div class="row mb-4" style="margin-top:-20px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Manufacturing Year:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Vehicle Color</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Mileage:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Price(per Day):</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Extra Charges(Per Day):</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">License No:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>

              <div class="row mb-4" style="margin-top:0px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <div class="form-group">
                      <label for="sel2">Vehicle Start Type:</label>
                     
                      <select class="form-control" id="sel1" name="sellist1" style="height: 35px">
                        <option>Self-Start</option>
                        <option>Kick-Start</option>
                        
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Brand with Model No.:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>

              </div>
              <div class="row mb-4" style="margin-top:-10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Fuel:</label>&nbsp;
                        <input type="text" id="form6Example1" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Engine Capacity:</label>
                      <input type="text" id="form6Example2" class="form-control" />
                      
                    </div>
                  </div>
                </div>
                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-outline">
                      <label for="commen">Short Description about Vehicle:</label>
                      <textarea class="form-control" rows="2" id="comment" required ></textarea>
                    
                  </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                      <label class="form-label" for="form6Example1">Vehicle Images(Current):</label>
                      <input type="file" name="img" multiple>
                      <input id="input-2" name="input2[]" type="file" class="file"  data-show-upload="false" data-show-caption="true" multiple>
                    
                  </div>
                </div>

                <div class="row mb-4" style="margin-top:10px">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="form-outline">
                      <label class="form-check-label">
                          <input class="form-check-input" type="checkbox"><p style="margin-left:20px ;">I agree with terms & conditions.<br>One Helmet is complimentary with the bike.The 
                              security deposit is refundable once we receive the bike in proper condition after 48 hours.You 
                              shall need to submit one Address proof in original and the copy of Driving License at the time
                               of receiving the bike.Vehicles are limited to 100kms/day & 2000kms/month (Exceeding Rs.5/Km).
                               Inform us at least 30min before reach that location.Monthly booking deposit Rs.200. If the 
                               bike is not available We will give the alternative bike with Proper condition.</p>
                        </label>
                  </div>
                  </div>
                  
                </div>
              </form>  
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
      </div>
      
    </div>
  </div>
</div>

