<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-6 col-md-6 col-12">
          <img src="../assets/image/v1.webp" style="height:300px;width: 90%;" >
        </div>
        
        <div class="col-lg-6 col-md-6 col-12 text-center" style="margin-top: 40px;">
         <h2 class="text-center" style="font-size:35px ;font-family:Bold Arial;font-weight: 800;color:rgb(1, 1, 113);"><b>
          RENT AN AFFORDABLE VEHICLE</b></h2>
         <h6 class="text-center text-black"style="margin-top:10px ;font-size: 15px;">Rent vehicle for special occasions, exams, college, etc. For more information 
          about pricing of vehicles and booking you need to book a ride or get in touch with us.</h6>
          <button class="btn btn-md" style="margin-top: 10px;background-color: rgb(40, 126, 172);color: white;">LEARN MORE</button>
        </div>
      
      </div>

      <div class="row" style="margin-top: 30px;">
        <b class="text-center" style="font-size: 35px;font-weight:600;color:rgb(1, 1, 113);">HOW DOES THE VEHICLE RENTAL WORKS</b>
      </div>

      <div class="row" style="margin-top:45px;">
        <div class="col-lg-4 col-4">
          <div class="row">
           <div class="col-lg-3">
               <div class="test rounded-circle text-center" style="width: 80px;height: 80px;background-color: rgb(40, 126, 172)">
               <i class="fa fa-search" aria-hidden="true" style="margin-top: 23px;color:white;font-size:40px"></i>
               </div>
           </div>
        
           <div class="col-lg-9 text-black" style="margin-top: 20px">
               Once selected, Book our vehicle and set a pickup date/item.
           </div>
        </div>
        </div>
        
        <div class="col-lg-4 col-4">
          <div class="row">
           <div class="col-lg-3">
               <div class="test rounded-circle text-center" style="width: 80px;height: 80px;background-color: rgb(40, 126, 172)">
               <i class="fa fa-location-arrow" aria-hidden="true" style="margin-top: 23px;color:white;font-size:40px"></i>
               </div>
           </div>
        
           <div class="col-lg-9 text-black" style="margin-top: 20px">
               Once selected, Book our vehicle and set a pickup location.
           </div>
        </div>
        </div>
        <div class="col-lg-4 col-4">
          <div class="row">
           <div class="col-lg-3">
               <div class="test rounded-circle text-center" style="width: 80px;height: 80px;background-color: rgb(40, 126, 172)">
               <i class="fa fa-motorcycle" aria-hidden="true" style="margin-top: 23px;color:white;font-size:40px"></i>
               </div>
           </div>
        
           <div class="col-lg-9 text-black" style="margin-top: 20px">
               Once selected make the payment and start tour ride.
                 </div>
        </div>
        </div>
        
        <br>
        <br>
      
        <div class="row" style="margin-top: 70px;">
          <b class="text-center" style="font-size: 30px;font-family:poppins;color:rgb(1, 1, 113);">WHAT KIND OF VEHICLE YOU WANT</b>
          <p class="text-center" style="font-size: 20px;margin-top: 10px;">GREAT RENTAL VEHICLES FOR YOU</p>
        </div>
      
        
      
        <div class="row" style="margin-top:10px">
          <h1 class="text-center">
              <button type="button" class="btn btn-warning btn-arrow-right btn-lg" style="width:100px ;background-color:rgb(40, 126, 172) ;color:white;">BIKES</button>&nbsp;
              <button type="button" class="btn btn-dark btn-arrow-right btn-lg" style="width:100px ;">CARS</button>&nbsp;
              <button type="button" class="btn btn-warning btn-arrow-right btn-lg" style="width:120px ;background-color:rgb(40, 126, 172) ;color:white;">SCOOTIES</button>
             
             
           </h1>
        </div>

        <section class="pt-5 pb-5" style="margin-top: 0px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev" style="border-radius:40px ;width:40px;height:40px;">
                            <i class="fa fa-arrow-left" style="font-size: 15px;margin-left:-7px"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next" style="border-radius:40px ;width:40px;height:40px;">
                            <i class="fa fa-arrow-right" style="font-size: 15px;margin-left:-7px"></i>
                        </a> 
                    </div>
                    <div class="col-12" style="margin-top: -30px;">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
            
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
            
                                        <div class="col-md-3 mb-3">
                                            <div class="card" style="background-color: whitesmoke;">
                                                <img class="img-fluid" alt="100%x280" src="../assets/image/v2.jpg" style="height:180px"> 
                                                <div class="card-body text-center">
                                                    <button style="margin-left: -100px;">2016</button>
                                                    <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                    <h5>Per Day: <b>$35.00</b></h5>
                                                    <button class="col btn btn-orange-moon text-center text-white" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;" data-toggle="modal" data-target="#myModal">RENT NOW</button>
            
                                                </div>
            
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card" style="background-color: whitesmoke;">
                                                <img class="img-fluid" alt="100%x280" src="../assets/image/v3.jpg" style="height:180px">
                                                <div class="card-body">
                                                    <button style="margin-left: -100px;">2017</button>
                                                    <h4 class="card-title text-center" style="color: orangered">Honda</h4>
                                                    <h5>Per Day: <b>$35.00</b></h5>
                                                    <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card" style="background-color: whitesmoke;">
                                                <img class="img-fluid" alt="100%x280" src="../assets/image/v4.webp" style="height:180px">
                                                <div class="card-body">
                                                    <button style="margin-left: -100px;">2018</button>
                                                    <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                    <h5>Per Day: <b>$35.00</b></h5>
                                                    <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card" style="background-color: whitesmoke;">
                                                <img class="img-fluid" alt="100%x280" src="../assets/image/v5.jpg" style="height:180px">
                                                <div class="card-body">
                                                    <button style="margin-left: -100px;">2019</button>
                                                    <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                    <h5>Per Day: <b>$35.00</b></h5>
                                                    <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
            
                                        <div class="col-md-3 mb-3">
                                            <div class="card" style="background-color: whitesmoke">
                                                <img class="img-fluid" alt="100%x280" src="../assets/image/v4.webp" style="height:180px">
                                                <div class="card-body">
                                                    <button style="margin-left: -100px;">2016</button>
                                                    <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                    <h5>Per Day: <b>$35.00</b></h5>
                                                    <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                </div>
            
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card" style="background-color: whitesmoke;">
                                                <img class="img-fluid" alt="100%x280" src="../assets/image/v5.jpg" style="height:180px">
                                                <div class="card-body">
                                                    <button style="margin-left: -100px;">2021</button>
                                                    <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                    <h5>Per Day: <b>$35.00</b></h5>
                                                    <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card" style="background-color: whitesmoke;">
                                                <img class="img-fluid" alt="100%x280" src="../assets/image/v3.jpg" style="height:180px;">
                                                <div class="card-body">
                                                    <button style="margin-left: -100px;">2022</button>
                                                    <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                    <h5>Per Day: <b>$35.00</b></h5>
                                                    <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="card" style="background-color: whitesmoke;">
                                                <img class="img-fluid" alt="100%x280" src="../assets/image/v2.jpg" style="height:180px">
                                                <div class="card-body">
                                                    <button style="margin-left: -100px;">2010</button>
                                                    <h4 class="card-title text-center text-white" style="color: orangered">Mercedes Car</h4>
                                                    <h5>Per Day: <b>$35.00</b></h5>
                                                    <button class="col btn btn-orange-moon text-center"data-toggle="modal" data-target="#myModal"  style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </section>

            <section class="pt-5 pb-5" style="margin-top: -100px">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            
                        </div>
                        <div class="col-6 text-right">
                            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev" style="border-radius:40px ;width:40px;height:40px;">
                                <i class="fa fa-arrow-left" style="font-size: 15px;margin-left:-7px"></i>
                            </a>
                            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next" style="border-radius:40px ;width:40px;height:40px;">
                                <i class="fa fa-arrow-right" style="font-size: 15px;margin-left:-7px"></i>
                            </a> 
                        </div>
                        <div class="col-12" style="margin-top: -20px;">
                            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                
                                            <div class="col-md-3 mb-3">
                                                <div class="card" style="background-color: whitesmoke;">
                                                    <img class="img-fluid" alt="100%x280" src="../assets/image/v2.jpg" style="height:180px"> 
                                                    <div class="card-body text-center">
                                                        <button style="margin-left: -100px;">2016</button>
                                                        <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                        <h5>Per Day: <b>$35.00</b></h5>
                                                        <button class="col btn btn-orange-moon text-center text-white" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;" data-toggle="modal" data-target="#myModal">RENT NOW</button>
                
                                                    </div>
                
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <div class="card" style="background-color: whitesmoke;">
                                                    <img class="img-fluid" alt="100%x280" src="../assets/image/v3.jpg" style="height:180px">
                                                    <div class="card-body">
                                                        <button style="margin-left: -100px;">2017</button>
                                                        <h4 class="card-title text-center" style="color: orangered">Honda</h4>
                                                        <h5>Per Day: <b>$35.00</b></h5>
                                                        <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <div class="card" style="background-color: whitesmoke;">
                                                    <img class="img-fluid" alt="100%x280" src="../assets/image/v4.webp" style="height:180px">
                                                    <div class="card-body">
                                                        <button style="margin-left: -100px;">2018</button>
                                                        <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                        <h5>Per Day: <b>$35.00</b></h5>
                                                        <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <div class="card" style="background-color: whitesmoke;">
                                                    <img class="img-fluid" alt="100%x280" src="../assets/image/v5.jpg" style="height:180px">
                                                    <div class="card-body">
                                                        <button style="margin-left: -100px;">2019</button>
                                                        <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                        <h5>Per Day: <b>$35.00</b></h5>
                                                        <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                    </div>
                                                </div>
                                            </div>
                
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                
                                            <div class="col-md-3 mb-3">
                                                <div class="card" style="background-color: whitesmoke">
                                                    <img class="img-fluid" alt="100%x280" src="../assets/image/v4.webp" style="height:180px">
                                                    <div class="card-body">
                                                        <button style="margin-left: -100px;">2016</button>
                                                        <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                        <h5>Per Day: <b>$35.00</b></h5>
                                                        <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                    </div>
                
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <div class="card" style="background-color: whitesmoke;">
                                                    <img class="img-fluid" alt="100%x280" src="../assets/image/v5.jpg" style="height:180px">
                                                    <div class="card-body">
                                                        <button style="margin-left: -100px;">2021</button>
                                                        <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                        <h5>Per Day: <b>$35.00</b></h5>
                                                        <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <div class="card" style="background-color: whitesmoke;">
                                                    <img class="img-fluid" alt="100%x280" src="../assets/image/v3.jpg" style="height:180px;">
                                                    <div class="card-body">
                                                        <button style="margin-left: -100px;">2022</button>
                                                        <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                        <h5>Per Day: <b>$35.00</b></h5>
                                                        <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <div class="card" style="background-color: whitesmoke;">
                                                    <img class="img-fluid" alt="100%x280" src="../assets/image/v2.jpg" style="height:180px">
                                                    <div class="card-body">
                                                        <button style="margin-left: -100px;">2010</button>
                                                        <h4 class="card-title text-center text-white" style="color: orangered">Mercedes Car</h4>
                                                        <h5>Per Day: <b>$35.00</b></h5>
                                                        <button class="col btn btn-orange-moon text-center"data-toggle="modal" data-target="#myModal"  style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                    </div>
                                                </div>
                                            </div>
                
                                        </div>
                                    </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </section>
        
                
                <section class="pt-5 pb-5" style="margin-top: -100px">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                
                            </div>
                            <div class="col-6 text-right">
                                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev" style="border-radius:40px ;width:40px;height:40px;">
                                    <i class="fa fa-arrow-left" style="font-size: 15px;margin-left:-7px"></i>
                                </a>
                                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next" style="border-radius:40px ;width:40px;height:40px;">
                                    <i class="fa fa-arrow-right" style="font-size: 15px;margin-left:-7px"></i>
                                </a> 
                            </div>
                            <div class="col-12" style="margin-top: -20px;">
                                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="row">
                    
                                                <div class="col-md-3 mb-3">
                                                    <div class="card" style="background-color: whitesmoke;">
                                                        <img class="img-fluid" alt="100%x280" src="../assets/image/v2.jpg" style="height:180px"> 
                                                        <div class="card-body text-center">
                                                            <button style="margin-left: -100px;">2016</button>
                                                            <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                            <h5>Per Day: <b>$35.00</b></h5>
                                                            <button class="col btn btn-orange-moon text-center text-white" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;" data-toggle="modal" data-target="#myModal">RENT NOW</button>
                    
                                                        </div>
                    
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <div class="card" style="background-color: whitesmoke;">
                                                        <img class="img-fluid" alt="100%x280" src="../assets/image/v3.jpg" style="height:180px">
                                                        <div class="card-body">
                                                            <button style="margin-left: -100px;">2017</button>
                                                            <h4 class="card-title text-center" style="color: orangered">Honda</h4>
                                                            <h5>Per Day: <b>$35.00</b></h5>
                                                            <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <div class="card" style="background-color: whitesmoke;">
                                                        <img class="img-fluid" alt="100%x280" src="../assets/image/v4.webp" style="height:180px">
                                                        <div class="card-body">
                                                            <button style="margin-left: -100px;">2018</button>
                                                            <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                            <h5>Per Day: <b>$35.00</b></h5>
                                                            <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <div class="card" style="background-color: whitesmoke;">
                                                        <img class="img-fluid" alt="100%x280" src="../assets/image/v5.jpg" style="height:180px">
                                                        <div class="card-body">
                                                            <button style="margin-left: -100px;">2019</button>
                                                            <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                            <h5>Per Day: <b>$35.00</b></h5>
                                                            <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row">
                    
                                                <div class="col-md-3 mb-3">
                                                    <div class="card" style="background-color: whitesmoke">
                                                        <img class="img-fluid" alt="100%x280" src="../assets/image/v4.webp" style="height:180px">
                                                        <div class="card-body">
                                                            <button style="margin-left: -100px;">2016</button>
                                                            <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                            <h5>Per Day: <b>$35.00</b></h5>
                                                            <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                        </div>
                    
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <div class="card" style="background-color: whitesmoke;">
                                                        <img class="img-fluid" alt="100%x280" src="../assets/image/v5.jpg" style="height:180px">
                                                        <div class="card-body">
                                                            <button style="margin-left: -100px;">2021</button>
                                                            <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                            <h5>Per Day: <b>$35.00</b></h5>
                                                            <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <div class="card" style="background-color: whitesmoke;">
                                                        <img class="img-fluid" alt="100%x280" src="../assets/image/v3.jpg" style="height:180px;">
                                                        <div class="card-body">
                                                            <button style="margin-left: -100px;">2022</button>
                                                            <h4 class="card-title text-center" style="color: orangered">Mercedes Car</h4>
                                                            <h5>Per Day: <b>$35.00</b></h5>
                                                            <button class="col btn btn-orange-moon text-center text-white" data-toggle="modal" data-target="#myModal" style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <div class="card" style="background-color: whitesmoke;">
                                                        <img class="img-fluid" alt="100%x280" src="../assets/image/v2.jpg" style="height:180px">
                                                        <div class="card-body">
                                                            <button style="margin-left: -100px;">2010</button>
                                                            <h4 class="card-title text-center text-white" style="color: orangered">Mercedes Car</h4>
                                                            <h5>Per Day: <b>$35.00</b></h5>
                                                            <button class="col btn btn-orange-moon text-center"data-toggle="modal" data-target="#myModal"  style="width: 100%;margin-top: 2px;background-color: rgb(40, 126, 172) ;">RENT NOW</button>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                            </div>
                                        </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </section>
                
        
  <div class="row" style="margin-top: -70px">
  
      <!-- Grid column -->
      <div class="col-md-12 d-flex justify-content-center mb-5">
    
        
        <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1" style="font-size:35px ;font-weight: 600;color:rgb(1, 1, 113);">Product Gallery</button>
        
      </div>
      <!-- Grid column -->
    
    </div>
    <!-- Grid row -->
    
    <!-- Grid row -->
    <div class="gallery" id="gallery" style="margin-top:-10px">
    
      <!-- Grid column -->
      <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="../assets/image/Vehicle/car2.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="../assets/image/Vehicle/carstick.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="../assets/image/Vehicle/v3.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="../assets/image/Vehicle/v2.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="../assets/image/Vehicle/v1.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="../assets/image/Vehicle/vehicle3.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="mb-3 pics animation all 2">
          <img class="img-fluid" src="../assets/image/Vehicle/s1.webp" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
        </div>
        <!-- Grid column -->
      
        <!-- Grid column -->
        <div class="mb-3 pics animation all 2">
          <img class="img-fluid" src="../assets/image/Vehicle/vehicle4.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
        </div>
        <!-- Grid column -->
      
        <!-- Grid column -->
        <div class="mb-3 pics animation all 1">
          <img class="img-fluid" src="../assets/image/Vehicle/bikesticker.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
        </div>
        <!-- Grid column -->
    
    </div>
    <!-- Grid row -->
  
  
  
  
  <!-- contact us -->
  <div class="row" style="height: 90px;background-color:rgb(43, 42, 42)">
      
    <h2 class="text-white" style="margin-top:30px;padding-left:80px;"><b>Contact Us</b></h2>
 </div>
   
       <div class="row" style="margin-top: 30px;">
  
          <div class="col-lg-1"></div>
      
          <div class="col-lg-5 col-md-5 col-12">
            <img src="../assets/image/Vehicle/vehicle4.jpg" style="height:440px;width: 430px;margin-top: 0px;border-radius: 2%;" >
          </div>
      
          <div class="col-lg-5 col-md-5 col-12">
            <div class="card" style="width:460px;background-color: rgb(27, 89, 122)">
              <h3 class="text-center text-white" style="margin-top: 10px;">Contact Us</h3>
              <div class="card-body text-white">
            
              <div class="row" style="margin-top: -12px;">
                 
                 <div class="col-lg-6 col-12" style="">
                    <div class="form-group">
                     <label for="usr">NAME :</label>
                     <input type="text" class="form-control" id="usr">
                    </div>
                 </div>
                 <div class="col-lg-6 col-12" style="">
                    <div class="form-group">
                     <label for="usr">EMAIL :</label>
                     <input type="text" class="form-control" id="contact">
                  </div>
             
               
             
            </div>
               
           </div>
     
             <div class="row text-white" style="margin-top: -8px;">
               
               <div class="col-lg-6 col-12" style="">
                 <div class="form-group">
                   <label for="usr">PHONE :</label>
                   <input type="text" class="form-control" id="usr">
                 </div>
               </div>
               
               <div class="col-lg-6 col-12" style="">
                 <div class="form-group">
                   <label for="usr">SUBJECT :</label>
                   <input type="text" class="form-control" id="contact">
                 </div>
               </div>
              
             </div>
     
             <div class="row text-white" style="margin-top: -10px;">
               
               <div class="col-lg-12 col-12">
                 <div class="form-group">
                   <label for="comment">
                     COMMENT :
                   </label>
                   <textarea class="form-control" rows="5" id="comment">
     
                   </textarea>
               </div>
               
             </div>
             
             </div>
             <div class="row" style="margin-top: -5px;">
              
               <div class="col-lg-12 col-12">
               <button type="button" class="btn btn-primary btn-block" style="margin-top: 0px;background-color: white;padding-top: 5px;padding-bottom: 5px;width: 430px;"><h4 style="font-size: 18px;color: black;">SEND MESSAGE</h4></button>
               </div>
              
             </div>
             
             
             
           </div>
           
         </div>
       
     </div>
   
     <div class="row" style="margin-top:40px ;">
       <h1 class="text-center" style="font-size:45px ;font-family:Arial;font-weight: 700;">GET IN TOUCH</h1>
     </div>
     <div class="row" style="margin-top:0px ;">
       
     <section class="pt-5 pb-5">
       <div class="container">
           <div class="row">
               <div class="col-md-4 mb-3 col-lg-4 col-12">
                   <div class="card text-center">
                       <div class="test rounded-circle text-center" style="width: 100px;height: 100px;background-color: rgb(40, 126, 172);margin-left: 120px;margin-top: 30px;">
                           <i class="fa fa-envelope-o" aria-hidden="true" style="margin-top: 23px;color:white;font-size:50px"></i>
                         </div>
                       <div class="card-body">
                           <h4 class="card-title"><b>Email Address</b></h4>
                           <p class="card-text">info@booking.com</p>
   
                       </div>
                   <br>
                   </div>
               </div>
   
               <div class="col-md-4 mb-3 col-lg-4 col-12">
                   <div class="card text-center">
                       <div class="test rounded-circle text-center" style="width: 100px;height: 100px;background-color: rgb(40, 126, 172);margin-left: 120px;margin-top: 30px;">
                           <i class="fa fa-phone" aria-hidden="true" style="margin-top: 23px;color:white;font-size:50px"></i>
                         </div>
                       <div class="card-body">
                           <h4 class="card-title"><b>Phone No.</b></h4>
                           <p class="card-text">+91 8765445552</p>
   
                       </div>
                  <br>
                   </div>
               </div>
   
               <div class="col-md-4 mb-3 col-lg-4 col-12">
                   <div class="card text-center">
                       <div class="test rounded-circle text-center" style="width: 100px;height: 100px;background-color: rgb(40, 126, 172);margin-left: 120px;margin-top: 30px;">
                           <i class="fa fa-map-marker" aria-hidden="true" style="margin-top: 23px;color:white;font-size:50px"></i>
                         </div>
                       <div class="card-body">
                           <h4 class="card-title"><b>Location</b></h4>
                           <p class="card-text">info@booking vgy yyt</p>
   
                       </div>
                <br>
                   </div>
               </div>
               </div>
              
               
                <div class="row" style="margin-top: 30px;background-color: rgb(253, 250, 250);">
                 <div class="col-lg-1"></div>
                 <div class="col-lg-6" style="margin-top: 25px;">
                   <h5 class="text-left" style="font-size: 20px;"><b style="font-family: poppins;">OPENING HOURS:</b> 24/7</h5>
                   <h5 class="text-left" style="padding-right: 20px;font-size: 18px;padding-top:7px ;padding-bottom: 7px;">
                 We provide you a best products in best price and affordable price. We provide you a best platform 
                 for customers. This is a platform in which we provide common platform for owner and customer.
                   </h5>
                   <h5 class="text-left" style="font-size: 30px;"><b>Social :</b></h5>
                   <h4 class="text-left" style="padding-left: 10px;margin-top:5px;">
                     <div style="color: rgb(18, 52, 70)">
                       <a href="" class="me-4 text-reset">
                         <i class="fa fa-facebook"></i>
                       </a>
                       <a href="" class="me-4 text-reset">
                         <i class="fa fa-twitter"></i>
                       </a>
                       <a href="" class="me-4 text-reset">
                         <i class="fa fa-google"></i>
                       </a>
                       <a href="" class="me-4 text-reset">
                         <i class="fa fa-instagram"></i>
                       </a>
                       <a href="" class="me-4 text-reset">
                         <i class="fa fa-linkedin"></i>
                       </a>
                       <a href="" class="me-4 text-reset">
                         <i class="fa fa-github"></i>
                       </a>
                     </div>
                     
                   </h4>
                 </div>
                 <div class="col-lg-5">
                   <iframe
           src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12094.57348593182!2d-74.00599512526003!3d40.72586666928451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2598f988156a9%3A0xd54629bdf9d61d68!2sBroadway-Lafayette%20St!5e0!3m2!1spl!2spl!4v1624523797308!5m2!1spl!2spl"
           class="h-100 w-100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                 </div>
                 
               </div>
               
   </div>

































