
    <div class="row">
     
      <div class="col-lg-4 col-md-6 col-12" style="padding-left: 40px;">
        <div class="card mb-4" style="border: 1px solid gainsboro;padding-bottom: 10px;">
          <div class="card-body text-center">
            <br>
            
            <img src="../assets/image/cooking.png" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">John Smith</h5>
            <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Change Profile</button>
              <button type="button" class="btn btn-primary ms-1">Message</button>
            </div>
            <br>
            <br>
            
          </div>
        </div>
       
      </div>
      <div class="col-lg-6 col-md-6 col-12 text-center">
        <div class="card mb-4" style="border: 1px solid gainsboro;">
          <div class="card-body">
          
            
            <div class="row" style="margin-top: 40px;">
              <div class="col-sm-1 text-left"></div>
              <div class="col-sm-5 text-left">
                <p class="mb-0" style="font-weight: bolder;">Full Name:</p>
              </div>
              <div class="col-sm-6 text-left">
                <p class="text-muted mb-0">Johnatan Smith</p>
              </div>
            </div>
    
            <div class="row" style="margin-top: 15px;">
              <div class="col-sm-1 text-left"></div>
              <div class="col-sm-5 text-left">
                <p class="mb-0" style="font-weight: bolder;">Email:</p>
              </div>
              <div class="col-sm-6 text-left">
                <p class="text-muted mb-0">example@example.com</p>
              </div>
            </div>
            <div class="row" style="margin-top: 15px;">
              <div class="col-sm-1 text-left"></div>
                <div class="col-sm-5 text-left">
                  <p class="mb-0" style="font-weight: bolder;">Gender:</p>
                </div>
                <div class="col-sm-6 text-left">
                  <p class="text-muted mb-0">Female</p>
                </div>
              </div>

            <div class="row" style="margin-top: 15px;">
              <div class="col-sm-1 text-left"></div>
              <div class="col-sm-5 text-left">
                <p class="mb-0" style="font-weight: bolder;">Phone:</p>
              </div>
              <div class="col-sm-6 text-left">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
            <div class="row" style="margin-top: 15px;">
              <div class="col-sm-1 text-left"></div>
              <div class="col-sm-5 text-left">
                <p class="mb-0" style="font-weight: bolder;">Mobile:</p>
              </div>
              <div class="col-sm-6 text-left">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <div class="row" style="margin-top: 15px;">
              <div class="col-sm-1 text-left"></div>
              <div class="col-sm-5 text-left">
                <p class="mb-0" style="font-weight: bolder;">Current Address:</p>
              </div>
              <div class="col-sm-6 text-left">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
            </div>
            </div>
            <div class="row" style="margin-top: 15px;">
              <div class="col-sm-1 text-left"></div>
              <div class="col-sm-5 text-left">
                <p class="mb-0" style="font-weight: bolder;"> Permanent Address:</p>
              </div>
              <div class="col-sm-6 text-left">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
            </div>
            </div>
            <div class="row" style="margin-top: 15px;">
              <div class="col-sm-1 text-left"></div>
              <div class="col-sm-5 text-left">
                <p class="mb-0" style="font-weight: bolder;">City:</p>
              </div>
              <div class="col-sm-6 text-left">
                <p class="text-muted mb-0">Nagpur</p>
            </div>
            </div>
            <div class="row" style="margin-top: 15px;">
              <div class="col-sm-1 text-left"></div>
              <div class="col-sm-5 text-left">
                <p class="mb-0" style="font-weight: bolder;"> Pincode:</p>
              </div>
              <div class="col-sm-6 text-left">
                <p class="text-muted mb-0">440008</p>
            </div>
            </div>
            
            <br>
             
            
      </div>
      </div>
      </div>
      </div>
    
      
     