<mat-sidenav-container>
    <mat-sidenav mode="side" opened="">
        <mat-list>
            <p class="menu-title">Your Account</p>
            <mat-list-item routerLink="profile" routerLinkActive=" list-item-active">profle</mat-list-item>
            <mat-list-item routerLink="orders" routerLinkActive="list-item-active">orders</mat-list-item>
            <mat-list-item routerLink="address" routerLinkActive="list-item-active">address</mat-list-item>
            <mat-list-item routerLink="analytics" routerLinkActive="list-item-active">analytics</mat-list-item>
            <mat-list-item routerLink="account-details" routerLinkActive="list-item-active">account details
            </mat-list-item>
            <mat-list-item>logout</mat-list-item>

        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
