<mat-sidenav-container>
    <mat-sidenav mode="side" opened="">
        <mat-list>
            <p class="menu-title" style="display: inline;">Your Account</p>
            <div class="" style="display: inline; float: right;"><button class="btn btn-danger">X</button></div>
            <mat-list-item routerLink="profile" routerLinkActive=" list-item-active">profle</mat-list-item>
            <mat-list-item routerLink="orders" routerLinkActive="list-item-active">orders</mat-list-item>
            <mat-list-item routerLink="address" routerLinkActive="list-item-active">address</mat-list-item>
            <mat-list-item routerLink="analytics" routerLinkActive="list-item-active">analytics</mat-list-item>
            <mat-list-item routerLink="account-details" routerLinkActive="list-item-active">account details
            </mat-list-item>
            <mat-list-item>logout</mat-list-item>

        </mat-list>
    </mat-sidenav>
    <div class="col-lg-12 my-2"> <button class="btn btn-primary">Side Bar Menu</button>
    </div>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>