/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
//font-family: 'Arimo', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
//font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
//font-family: 'Courgette', cursive;

$blue: #131a22;
$blue2: #232f3e;
$off-white: #ddd;
$black: #0f1111;

$projectBlue: #0047ab;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
