
<h2 style="margin-left: 20px;">Deals of the day</h2>

<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/c5.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/room/r1.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/appliances/a1.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/ofv1.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/t1.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/room/r2.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/appliances/a2.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
         <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/maha_dish.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets\image\appliances\a3.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/c6.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/room/r2.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets\image\appliances\a4.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/c1.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/punj.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/room/r3.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/tif2.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/c4.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/room/r5.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/appliances/a5.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/c2.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/south_dish.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/room/r6.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/appliances/a6.png" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2 style="margin-left: 20px;">Best Vehicle Deals</h2>

<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/c3.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/a1.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/a2.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/a3.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/a4.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/a5.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/c1.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/c2.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
         <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/a6.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/a7.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/a8.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/a9.webp" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Vehicle/a10.jpg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
         <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div><div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2 style="margin-left: 20px;">Deals of the day</h2>

<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
         <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
         <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div><div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2 style="margin-left: 20px;">Deals of the day</h2>

<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
         <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
         <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div><div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2 style="margin-left: 20px;">Deals of the day</h2>

<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
         <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
         <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div><div class="card">
          <div class="image-wrapper">
          <img src="assets/image/Tiffin/guju_dish.jpeg" alt="...">
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>