

<h2 style="margin-left: 20px;">Deal of the Day</h2>

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "groupCells": true }'>
  <div class="carousel-cell">
    <div class="video-thumbnail"><img class="video-thumb-img thumbnail-filter" src="https://i.ytimg.com/vi/ognAQ6xI5hw/hqdefault.jpg" alt=""></div>
  </div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
</div>


<h2 style="margin-left: 20px;">Rooms Top Deals</h2>

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "groupCells": true }'>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
</div>

<h2 style="margin-left: 20px;">Tiffin Package Offers</h2>

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "groupCells": true }'>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
</div>

<h2 style="margin-left: 20px;">Best Vehicle Offers</h2>

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "groupCells": true }'>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
</div>

<h2 style="margin-left: 20px;">Top Appliances Offers</h2>

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "groupCells": true }'>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
</div>



